<div class="block">
    <div class="block-header block-header-default">
        <h3 class="block-title">Nota Nº: <strong>{{ nf.num_nf }}</strong></h3>
    </div>
    <div class="block-content">
            <strong>Situação: {% if nf.desc_status_nfs == 'Autorizada' %} <small class="text-success"> Autorizada
                              {% elif nf.desc_status_nfs == 'EmProcessoDeAutorizacao' %}<small class="text-info"> Validação
                              {% elif nf.desc_status_nfs == 'Negada' %}<strong class="text-warning"> Negada
                        {% elif nf.desc_status_nfs == 'Cancelada' %}<small class="text-danger"> Cancelada {% endif %}</small></strong><br>
            <strong>Data Emissão: <small>{{ nf.data_emissao|date:'d/m/Y' }}</small></strong><br>
            <strong>Cliente: <small>{{ nf.cadgeral }}</small></strong><br>
            <strong>Valor: <small>{{ nf.vlr_nota }}</small></strong><br>
            {% if nf.desc_status_nfs == 'Negada' %}
                <strong>Informações Validação: <small>{{ nf.motivoStatus }}</small></strong><br>
            {% endif %}
            <strong>Chave NFS WS: <small>{{ nf.id_key }}</small></strong>
    </div>
</div>