        <table id="table_faturamento" class="table table-bordered table-striped table-vcenter js-dataTable-full" >
            <thead>
                <tr>
                    <th><small>Faturar</small></th>
                    <th><small>Nº</small></th>
                    <th><small>Tipo</small></th>
                    <th><small>Cliente</small></th>
                    <th><small>Serviço</small></th>
                    <th><small>Dt Fat/OS</small></th>
                    <th><small>Valor</small></th>
                </tr>
            </thead>
            <tbody>
            {% for l in lista %}
                    <td>
                        <center><label class="custom-control custom-checkbox baixa_lancamento">
                                                <input type="checkbox" class="custom-control-input baixa_lancamento" name="ids_fat" value="{{ l.pk }}">
                                                  <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description"></span>
                        </label></center>
                    <!--<center><input class="baixa_lancamento"  name="lanc_baixa" value="{{ lanc.pk }}" type="checkbox"></center>-->
                    </td>
                    <td><small>{% if l.tipo == 'O' %} {{ l.os.num_os }} {% else %} {{ l.contrato.num_cont }} {% endif %}</small></td>
                    <td>{% if l.tipo == 'C' %} <span class="badge badge-primary" text="Contrato">CONTRATO</span>
                                          {% else %} <span class="badge badge-info" text="O.S">O.S</span>
                                          {% endif %}
                    </td>
                    <td><small><strong>{% if l.tipo == 'O' %} {{ l.os.cadgeral }} {% else %} {{ l.contrato.cadgeral }} {% endif %}</strong></small></td>
                    <td><small>{% if l.tipo == 'O' %} {{ l.os.desc_item }} {% else %} {{ l.contrato.item }} {% endif %}</small></td>
                    <td><small>{% if l.tipo == 'O' %} {{ l.os.data_os|date:'d/m/Y' }} {% else %} {{ l.contrato.prox_faturamento|date:'d/m/Y' }} {% endif %}</small></td>
                    <td><span>{% if l.tipo == 'O' %} {{ l.os.valor_unit }} {% else %} {{ l.contrato.valor }} {% endif %}</span></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
