{% extends "menu.html" %}
{% load static widget_tweaks humanize %}



<!-- Bread crumb and right sidebar toggle -->
{% block title %} Parametros de NFS {% endblock %}

{% block page_body %}

<div class="block">
    <div class="block-content">
    <div class="block block-themed block-rounded">
    <div class="block-header bg-flat-light">
                        <h3 class="block-title antes_insert">Novo Parametro</h3>
                        <div class="block-options antes_insert">
                            <button type="button" class="btn-block-option cancel_form">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>
                    </div>
    <form method="post" class="form_parametros" id="form_create" enctype="multipart/form-data">
             {% csrf_token %}
                {% for error in form.non_field_errors %}
                <div class="alert-danger alert">
                {{ error }}
                </div>
                {% endfor %}
             <div class="block-content">
                 <div>
                     <h5><small>Dados da Empresa</small></h5>
                     <hr>
                 </div>
                <div class="form-group row ">
                    <div class="col-md-7">
                        <div class="form-material input-group ">
                            <label>Empresa</label>
                            {% render_field form.company class="chosen-select"  %}
                            {% for error in form.company.errors %}
                            <small class="form-control-feedback"> {{ error }} </small>
                            {% endfor %}
                        </div>
                        <div>
                            <small class="form-control-feedback text-danger aviso_company" style="display:none;" > campo obrigatório </small>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-12">
                            <label class="css-control css-control-sm css-control-primary css-switch">
                                {% render_field form.simples_nac type="checkbox" class='css-control-input' %}
                                <span class="css-control-indicator"></span> Optante simples nacional
                            </label>
                        </div>
                        <div class="col-12">
                            <label class="css-control css-control-sm css-control-primary css-switch">
                                {% render_field form.incent_cult type="checkbox" class='css-control-input' %}
                                <span class="css-control-indicator"></span> Incentivador cultural
                            </label>
                        </div>

                    </div>
                </div>
                 <div>
                     <h5><small>Dados Serviço Padrão</small></h5>
                     <hr>
                 </div>
                <div class="form-group row">
                    <div class="col-md-8">
                        <div class="form-material  floating">
                            {% render_field  form.cd_srv_padrao class='form-control' %}
                            <label for="{{  form.cd_srv_padrao.id }}">Código serviço padrão</label>
                            {% for error in form.cd_srv_padrao.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-3">
                         <div class="form-material  floating">
                            {% render_field  form.aliquota_iss class='form-control' %}
                            <label for="{{  form.aliquota_iss.id }}">Aliquota %</label>
                            {% for error in form.aliquota_iss.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                   </div>
                </div>
                <div class="form-group row">
                   <div class="col-md-11">
                        <div class="form-material  floating">
                            {% render_field  form.desc_srv class='form-control' %}
                            <label for="{{  form.desc_srv.id }}">Descrição Serviço</label>
                            {% for error in form.desc_srv.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                   </div>
                   <div class="col-md-5">
                        <div class="form-material  floating">
                            {% render_field  form.cnae class='form-control' %}
                            <label for="{{  form.cnae.id }}">CNAE</label>
                            {% for error in form.cnae.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                   </div>
                   <div class="col-md-6">
                        <div class="form-material  floating">
                            {% render_field  form.it_lista_srv class='form-control' %}
                            <label for="{{  form.it_lista_srv.id }}">Item na lista de serviços</label>
                            {% for error in form.it_lista_srv.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                   </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-5">
                        <div class="form-material input-group ">
                            <label>Regime especial de tributação</label>
                            {% render_field form.regime_trib class="chosen-select"  %}
                            {% for error in form.regime_trib.errors %}
                            <small class="form-control-feedback"> {{ error }} </small>
                            {% endfor %}
                        </div>
                        <div>
                            <small class="form-control-feedback text-danger aviso_company" style="display:none;" > campo obrigatório </small>
                        </div>
                    </div>
                </div>
                 <div>
                     <h5><small>Certificado Digital</small></h5>
                     <hr>
                 </div>
                <div class="form-group row e_titulo">
                   <div class="col-md-5">
                       <div class="form-material  floating">
                            {% render_field  form.certificado_nome class='form-control' %}
                            <label for="{{  form.certificado_nome.id }}">Nome</label>
                            {% for error in form.certificado_nome.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                   </div>
                   <div class="col-md-5">
                        <div class="form-material">
                            {% render_field  form.certificado_pfx class='form-control' %}
                            <label for="{{  form.certificado_pfx.id }}">Upload Certificado</label>
                            {% for error in form.certificado_pfx.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                   </div>
                </div>
                <div class="form-group row e_titulo">
                   <div class="col-md-5">
                       <div class="form-material  floating">
                           <div class="form-material  floating">
                            {% render_field  form.certificado_senha class='form-control' %}
                            <label for="{{  form.certificado_senha.id }}">Senha Certificado</label>
                            {% for error in form.certificado_senha.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                   </div>
                </div>
             </div>
          <br>
          <br>
         <div class="form-group row ">
                <button type="submit" id="btn_salvar" class="btn btn-alt-primary">Salvar</button>
                <a class="btn btn-alt-secondary  cancel_form" href="{% url 'paramnfs_list' %}">Cancelar</a>
         </div>
    </form>


</div>
                </div>
            </div>

    </div>
</div>

{% endblock %}


{% block javascript %}

$('.chosen-select').chosen({ width: '100%' });
$('.form_inc').hide();
$('.form_edit').hide();

{% endblock %}



