{% load static widget_tweaks %}
{% if success %}
   <script>
  	 close_modal=true;
   </script>
{% else %}
<div class="card-header">
    <h4 class="m-b-0 text-white">Inclusão Receita<button type="button" class="close cancel_create">×</button></h4>
</div>
<div class="card-body">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#principal" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Principal
        </span></a></li>
        <li class="nav-item"> <a class="nav-link" id="parcelas_aba" data-toggle="tab" href="#parcelas" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Parcelas
        </span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#rateios" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Rateios/Cotações
        </span></a> </li>
    </ul>
     <form  class="form-horizontal lancto" method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div class="alert-danger alert">
            {{ error }}
        </div>
    {% endfor %}
         <div class="tab-content tabcontent-border">
             <div class="tab-pane active p-20" id="principal" role="tabpanel">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-2">{{ form.company.label_tag  }}</label>
                             <div class="col-md-9">
                               {% render_field form.company class="chosen-select" style="width: 100%; height:36px;" %}
                               {% for error in form.company.errors %}
                                <small class="text-danger form-control-feedback"> {{ error }} </small>
                                {% endfor %}
                             </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-3">{{ form.propriety.label_tag }}</label>
                            <div class="col-md-9">
                                {% render_field form.propriety class="chosen-select" style="width: 100%; height:36px;" %}
                                {% for error in form.propriety.errors %}
                                <small class="text-danger form-control-feedback"> {{ error }} </small>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label  col-md-2">{{ form.cadgeral.label_tag }}</label>
                            <div class="col-md-7">
                                <div class="input-group">
                                     {% render_field form.cadgeral class="chosen-select form-control" style="width: 100%; height:36px;" %}
                                     <span class="input-group-btn">
                                        <button type="button" title="Novo Cliente" class="btn btn-info new_cadgeral"><i class="fa fa-plus"></i> </button>
                                     </span>
                                       {% for error in form.cadgeral.errors %}
                                        <small class="text-danger form-control-feedback"> {{ error }} </small>
                                        {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
            <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4">Vencimento:</label>
                            <div class="col-md-8">
                                {% render_field form.dt_vencimento  placeholder='dd/mm/aaaa' class='form-control datepicker' %}
                                <!--<input type="date" name="dt_vencimento"  class="form-control" placeholder="dd/mm/aaaa" required="" id="id_dt_vencimento">-->
                                {% for error in form.dt_vencimento.errors %}
                                <small class="text-danger form-control-feedback"> {{ error }} </small>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
            <!--/span-->
                </div>
                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4">{{ form.plr_financeiro.label_tag }}</label>
                            <div class="col-md-7">
                                <div class="input-group">
                                     {% render_field form.plr_financeiro class="chosen-select form-control" style="width: 100%; height:36px;" %}
                                     <span class="input-group-btn">
                                        <button type="button" class="btn btn-info new_planofin" title="Novo Plano Financeiro" data-container="body" data-toggle="popover" data-placement="bottom"><i class="fa fa-plus"></i> </button>
                                     </span>
                                       {% for error in form.plr_financeiro.errors %}
                                        <small class="text-danger form-control-feedback"> {{ error }} </small>
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4">{{ form.c_custo.label_tag }}</label>
                            <div class="col-md-7">
                                <div class="input-group">
                                     {% render_field form.c_custo class="chosen-select form-control" style="width: 100%; height:36px;" %}
                                     <span class="input-group-btn">
                                        <button type="button" class="btn btn-info new_ccusto" title="Novo Centro de Custo" data-container="body" data-toggle="popover2" data-placement="bottom"><i class="fa fa-plus"></i> </button>
                                     </span>
                                       {% for error in form.c_custo.errors %}
                                        <small class="text-danger form-control-feedback"> {{ error }} </small>
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label col-md-4">{{ form.conta_finan.label_tag }}</label>
                            <div class="col-md-7">
                               <div class="input-group">
                                 {% render_field form.conta_finan class="chosen-select form-control" style="width: 120%; height:100px;" %}
                                 <span class="input-group-btn">
                                    <button type="button" class="btn btn-info new_conta" title="Nova Conta de Recebimento" data-container="body" data-toggle="popover3" data-placement="bottom"><i class="fa fa-plus"></i> </button>
                                 </span>
                                   {% for error in form.conta_finan.errors %}
                                    <small class="text-danger form-control-feedback"> {{ error }} </small>
                                    {% endfor %}
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-success row">
                            <label class="control-label col-md-4">{{ form.valor_text.label_tag }}</label>
                            <div class="col-md-7">
                                {% render_field  form.valor_text class="form-control form-control-success" data-thousands="." data-decimal="," data-prefix="R$ " %}
                                {% for error in form.valor_text.errors %}
                                <small class="text-danger form-control-feedback"> {{ error }} </small>
                                {% endfor %}

                                <div class="checkbox checkbox-success">
                                 {% render_field form.ja_baixado type="checkbox" %}
                                 <label for="id_ja_baixado" class="text-success">Recebido</label>
                                 {% for error in form.ja_baixado.errors %}
                                 <small class="form-control-feedback"> {{ error }} </small>
                                 {% endfor %}
                             </div>
                            </div>
                        </div>
                    </div>

            <!--/span-->
                </div>
             <div class="tab-pane  p-20" id="parcelas" role="tabpanel">
                 <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                                <div class="chart-text m-r-10">
                                    <h6 class="m-b-0"><small>VALOR TOTAL</small></h6>
                                    <h4 class="m-t-0 text-info" id="valor_total_parcelas"></h4></div>
                                <div class="spark-chart">
                                    <div id="monthchart"></div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-success btn btn-sm btn-outline-info salamaris" id="calcula_parcelas" >Calcular</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3">{{ form.qtd.label_tag  }}</label>
                             <div class="col-md-3">
                               {% render_field form.qtd class="form-control" %}
                               {% for error in form.qtd.errors %}
                                <small class="text-danger form-control-feedback"> {{ error }} </small>
                                {% endfor %}
                             </div>
                        </div>
                        <div class="form-group row">
                             <label class="control-label col-md-3">{{ form.primeiro_vencto.label_tag }}</label>
                            <div class="col-md-4">
                                {% render_field form.primeiro_vencto placeholder='dd/mm/aaaa' class='form-control datepicker' %}
                                {% for error in form.primeiro_vencto.errors %}
                                <small class="text-danger form-control-feedback"> {{ error }} </small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-3    ">{{ form.dias_entre_vencto.label_tag }}</label>
                            <div class="col-md-3">
                                {% render_field form.dias_entre_vencto  class='form-control' %}
                                {% for error in form.dias_entre_vencto.errors %}
                                <small class="text-danger form-control-feedback"> {{ error }} </small>
                                {% endfor %}
                        </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                       <table class="tablesaw table-striped table-hover table-bordered table">
                                    <thead>
                                        <tr>
                                            <th>Parcela</th>
                                            <th >Valor</th>
                                            <th >Vencimento</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody-itens_parcelas">

                                    </tbody>
                       </table>
                    </div>
                </div>

             </div>
             <div class="tab-pane p-20" id="rateios" role="tabpanel">
             </div>
             </div>

         <hr>
         <div class="form-actions">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn btn-success">Salvar</button>
                            <a type="button"  id="cancel_create" href="#" class="btn btn-inverse cancel_create">Cancelar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"> </div>
            </div>
         </div>
     </form>
</div>
{% endif %}