{% extends "menu.html" %}
{% load static widget_tweaks humanize %}



<!-- Bread crumb and right sidebar toggle -->
{% block title %} Lançamentos Financeiros {% endblock %}

{% block page_body %}

<div class="block">
    <div class="block-content block-content-full ribbon ribbon-left ribbon-bookmark ribbon-primary">
        <div class="ribbon-box form_busca">
            Filtros de Pesquisa
        </div>
        <br>
        <div class="form_busca">
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-material input-group">
                            <label>{{ form.empresa.label_tag }}</label>
                            {% render_field form.empresa class="chosen-select" %}
                        </div>
                    </div>
                </div>
                <div class="filtros_extras">
                    <div class="row">

                        <div class="col-lg-4">
                                <label for="id_data_lanc_ini">Data Lançamento</label>
                                <div class="input-daterange input-group js-datepicker-enabled" data-date-format="dd/mm/yyyy" data-week-start="1" data-autoclose="true" data-today-highlight="true">
                                    {% render_field form.data_lanc_ini class="form-control js-datepicker"   placeholder="de" data-week-start="1" data-autoclose="true" data-today-highlight="true"%}
                                    <span class="input-group-addon font-w600">  &nbsp; até  &nbsp; </span>
                                    {% render_field form.data_lanc_fim class="form-control js-datepicker"   placeholder="até" data-week-start="1" data-autoclose="true" data-today-highlight="true"%}
                                </div>
                            </div>

                        <div class="col-lg-4">
                                <label for="id_data_venc_ini">Data Vencimento</label>
                                <div class="input-daterange input-group js-datepicker-enabled" data-date-format="dd/mm/yyyy" data-week-start="1" data-autoclose="true" data-today-highlight="true">
                                    {% render_field form.data_venc_ini class="form-control js-datepicker"   placeholder="de" data-week-start="1" data-autoclose="true" data-today-highlight="true"%}
                                    <span class="input-group-addon font-w600"> &nbsp; até  &nbsp; </span>
                                    {% render_field form.data_venc_fim class="form-control js-datepicker"   placeholder="até" data-week-start="1" data-autoclose="true" data-today-highlight="true"%}
                                </div>
                        </div>
                        <div class="col-lg-4">
                                <label for="id_data_baix_ini">Data Baixa</label>
                                <div class="input-daterange input-group js-datepicker-enabled" data-date-format="dd/mm/yyyy" data-week-start="1" data-autoclose="true" data-today-highlight="true">
                                    {% render_field form.data_baix_ini class="form-control js-datepicker"   placeholder="de" data-week-start="1" data-autoclose="true" data-today-highlight="true"%}
                                    <span class="input-group-addon font-w600"> &nbsp; até  &nbsp;</span>
                                    {% render_field form.data_baix_fim class="form-control js-datepicker"   placeholder="até" data-week-start="1" data-autoclose="true" data-today-highlight="true"%}
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-material input-group">
                                <label>{{ form.cadgeral.label_tag }}</label>
                                {% render_field form.cadgeral class="chosen-select" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-material input-group">
                                <label>{{ form.plano_finan.label_tag }}</label>
                                {% render_field form.plano_finan class="chosen-select" %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-material input-group">
                                <label>{{ form.c_custo.label_tag }}</label>
                                {% render_field form.c_custo class="chosen-select" %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-material input-group">
                                <label>{{ form.conta_finan.label_tag }}</label>
                                {% render_field form.conta_finan class="chosen-select" %}
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                  <button type="submit"  class="btn  btn-outline-primary mr-5 mb-5 form_pesquisa"   data-toggle="tooltip" data-placement="bottom" title="Pesquisar lançamentos de acordo com os filtros">
                        <i class="fa fa-search"></i> Pesquisar
                  </button>
                  <button type="button"  class="btn  btn-outline-danger  mr-5 mb-5 limpa_filtro_pesquisa"   data-toggle="tooltip" data-placement="bottom" title="Remover filtros e exibir todos os lançamentos">
                        <i class="fa fa-reply"></i> Limpar filtros
                  </button>
                  <button class="btn btn-outline-primary mr-5 mb-5 new_receita btn_lancamentos" style="width:18%;"><i class="fa fa-arrow-up"><i class="fa fa-dollar"></i></i> Nova Receita</button>
                  <button class="btn btn-outline-danger mr-5 mb-5  new_despesa btn_lancamentos" style="width:18%;"><i class="fa fa-arrow-down"><i class="fa fa-dollar"></i></i> Nova Despesa</button>
<!--                    <button type="hidden" class="btn btn-outline-info mr-5 mb-5 baixa btn_lancamentos"  data-placement="bottom" title="Pagar / Receber Lancamentos Selecionados" data-toggle="modal" data-target="#modal-databaixa"><i class="fa fa-check-circle"></i> Baixar Lanc. Selecionados</button> -->
            </form>


        </div>


        <div>
            <div class="row">
                <div class="form_inc col-md-12">
                </div>
                <div class="form_inc_despesa col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="form_edit col-md-12"></div>
            </div>
        </div>

        </div>



        <div class="row table table_lancfinanceiro">
         <form method="post" action="" id="form_baixa_lancamento">
             <input type="hidden" name="data_baixa" id="data_baixa">
             {% csrf_token %}
             {% include '_table_lancfinanceiro.html' %}
         </form>

        </div>
    </div>
</div>


<div class="modal fade" id="modal-cadgeral" tabindex="-1" role="dialog" aria-labelledby="modal-slideright" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideright modal-lg" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title titulo_modal"></h3><h3 class="block-title info_modal"></h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-conta" tabindex="-1" role="dialog" aria-labelledby="modal-slideright" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideright" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title titulo_modal"></h3><h3 class="block-title info_modal"></h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-planofinan" tabindex="-1" role="dialog" aria-labelledby="modal-slideright" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideright modal-lg" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title titulo_modal"></h3><h3 class="block-title info_modal"></h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-ccusto" tabindex="-1" role="dialog" aria-labelledby="modal-slideright" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideright" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title titulo_modal"></h3><h3 class="block-title info_modal"></h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-databaixa" tabindex="-1" role="dialog" aria-labelledby="modal-slideright" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideright modal-sm" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title titulo_modal"></h3><h3 class="block-title info_modal"></h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">
                    <div class="form-material input-group">
                      <label>Data da Baixa</label>
                      <input  type="text" name="data_baixa_modal" id="data_baixa_modal" class="js-datepicker form-control" data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="dd/mm/yyyy" placeholder="dd/mm/aaaa">
                    </div>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-primary" id="confirma_baixa" data-dismiss="modal">OK</button>
                <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-indice" tabindex="-1" role="dialog" aria-labelledby="modal-slideright" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideright modal-sm" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title titulo_modal"></h3><h3 class="block-title info_modal"></h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-cotacao" tabindex="-1" role="dialog" aria-labelledby="modal-slideright" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideright modal-sm" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title titulo_modal"></h3><h3 class="block-title info_modal"></h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>





{% endblock %}


{% block javascript %}

$('.baixa').hide();
$('.form_inc').hide();
$('.form_edit').hide();
$('.chosen-select').chosen({ width: '100%' });



$(".limpa_filtro_pesquisa").on("click",function(e){
   window.location="{% url 'lancfin_list' %}"
});

function load_propriety2(){
    var company_id = $('#id_empresa').val();
    if(company_id != ''){
        var url = '{% url 'company_propriety' %}';
        url = url+'?company_id='+company_id;
        $("#id_propriedade").load(url,function(){
            $("#id_propriedade").trigger("chosen:updated");
         });
    }
    else{
      $("#id_propriedade").html('');
    }
}

$("#id_empresa").on("change",function(e){

  load_propriety2();
});

load_propriety2();




function load_lanctos(){
    $('.table_lancfinanceiro').load('{{ request.path }}');
}


table = $('#table_lanfinanceiro').DataTable({
    "language": {
     "lengthMenu": "Mostrando _MENU_ registros por página",
     "search" : "Procurar: ",
     "info" : "Exibindo de _START_ a _END_ de _TOTAL_ registros",
     "infoEmpty": "Nenhum registro encontrado",
     "infoFiltered": "(filtrado entre _MAX_ registros)",
     "paginate" : {
       "first":      "Primeiro",
       "last":       "Último",
       "next":       "Próximo",
       "previous":   "Anterior"
     },
     responsive: {
            details: {
                type: 'column'
            }
        },
        columnDefs: [ {
            className: 'control',
            orderable: false,
            targets:   0
        } ],
        order: [ 1, 'asc' ]
 }
});


$("#form_baixa_lancamento").on("change", ".baixa_lancamento", function(e){
			if ($(this).is(":checked")){
				$('.baixa').show("drop");
			}
		 });




<!-- Criações -->
$(".new_receita").on("click",function(e){
     e.preventDefault();
     $(".form_inc").load("{% url 'create_receita' %}", function(){
        $('.form_inc').show("puff");
        $('.form_busca').hide("drop");
        $('.table_lancfinanceiro').hide("drop");
        $('.btn_lancamentos').hide("drop");
        $('.e_titulo').hide();
        $('.parcelamento').hide();
        $("#id_valor_text").focus();

        $('.chosen-select').chosen({ width: '100%' });

        {% include 'js_floating_labels.html' %}
        {% include 'js_tabs.html' %}
        {% include 'js_masks.html' %}
        {% include 'js_inclusoes.html' %}


        $(".form_inc").on("change", "#id_titulo", function(e){
			if ($(this).is(":checked")){
				$(".e_titulo").show();
                $("#id_repetir").prop("checked",false)
                $(".repetir").hide();
			}
			else {
				$(".e_titulo").hide();
			}
		 });

        $(".form_inc").on("change", "#id_parcela", function(e){
			if ($(this).is(":checked")){
				$(".parcelamento").show();
                $("#id_repetir").prop("checked",false)
                $("#id_dt_vencimento").prop('required',true);
                $(".repetir").hide();

                $("#id_dias_entre_vencto").keyup(function() {
                    if($(this).val().length > 0){
                         $("#id_dia_fixo").prop('disabled',true);
                    }
                    else{
                         $("#id_dia_fixo").prop('disabled',false);
                    }
                });

                $(".form_inc").on("change", "#id_dia_fixo", function(e){
                    if ($(this).is(":checked")){
                        $("#id_dias_entre_vencto").prop('disabled',true);
                    }
                    else {
                        $("#id_dias_entre_vencto").prop('disabled',false);
                    }
                });

			}
			else {
				$(".parcelamento").hide();
			}
		});

        $(".form_inc").on("change", "#id_repetir", function(e){
			if ($(this).is(":checked")){
				$(".repetir").show();
                $("#id_parcela").prop("checked",false)
                $(".parcelamento").hide();
                $("#id_dt_vencimento").prop('required',true);
                $("#id_qtd_repetir").prop('required',true);



			}
			else {
				$(".repetir").hide();
                $("#id_dt_vencimento").prop('required',false);
                $("#id_qtd_repetir").prop('required',false);
			}
		 });


        $(".js-datepicker").datepicker({
            todayBtn: true,
            language: "pt-BR",
            autoclose: true,
            todayHighlight: true
        });


        function load_cotacaoform(){
            var indice_id = $('#id_indice').val();
            if(indice_id != ''){
                var url = '{% url 'indice_cotacao' %}';
                url = url+'?indice_id='+indice_id;
                 $("#id_cotacao").load(url,function(){
                $("#id_cotacao").trigger("chosen:updated");
                });
            }
            else{
                $("#id_cotacao").html('');
            }
        }


        $("#id_indice").on("change",function(e){
               load_cotacaoform();
        });
              load_cotacaoform();


          $(".form_inc .cancel_form").on("click",function(e){
            $('.form_inc').hide("drop");
            $('.form_busca').show("puff");
            $('.table_lancfinanceiro').show("puff");
            $('.btn_lancamentos').show("puff");
          });
    });
});

$(".form_inc").on("submit","form",function(e){
     e.preventDefault();
     var dados = $(this).serialize();
     $.post("{% url 'create_receita' %}",dados,function(result){
        $(".form_inc").html(result);
        if(close_modal==true){
           $('.form_inc').hide("drop");
           $('.table_lancfinanceiro').show("puff");
           $('.btn_lancamentos').show();
           window.location.reload();
        }
        else{
            $(".form_inc").show();
            {% include 'js_floating_labels.html' %}
            {% include 'js_tabs.html' %}
            $('.chosen-select').chosen({ width: '100%' });

               $(".form_inc .cancel_form").on("click",function(e){
                    $('.form_inc').hide("drop");
                    $('.table_lancfinanceiro').hide("drop");
                    $('.btn_lancamentos').show();
               });


        }
     });
});

$(".new_despesa").on("click",function(e){
     e.preventDefault();
     $(".form_inc_despesa").load("{% url 'create_despesa' %}", function(){
        $('.form_inc_despesa').show("puff");
        $('.form_busca').hide("drop");
        $('.table_lancfinanceiro').hide("drop");
        $('.btn_lancamentos').hide("drop");
        $('.e_titulo').hide();
        $('.parcelamento').hide();
        $("#id_valor_text").focus();

        $('.chosen-select').chosen({ width: '100%' });

        {% include 'js_floating_labels.html' %}
        {% include 'js_tabs.html' %}
        {% include 'js_masks.html' %}
        {% include 'js_inclusoes.html' %}


        $(".form_inc_despesa").on("change", "#id_titulo", function(e){
			if ($(this).is(":checked")){
				$(".e_titulo").show();
                $("#id_repetir").prop("checked",false)
                $(".repetir").hide();
			}
			else {
				$(".e_titulo").hide();
			}
		 });

        $(".form_inc_despesa").on("change", "#id_parcela", function(e){
			if ($(this).is(":checked")){
				$(".parcelamento").show();
                $("#id_repetir").prop("checked",false)
                $("#id_dt_vencimento").prop('required',true);
                $(".repetir").hide();

                $("#id_dias_entre_vencto").keyup(function() {
                    if($(this).val().length > 0){
                         $("#id_dia_fixo").prop('disabled',true);
                    }
                    else{
                         $("#id_dia_fixo").prop('disabled',false);
                    }
                });

                $(".form_inc_despesa").on("change", "#id_dia_fixo", function(e){
                    if ($(this).is(":checked")){
                        $("#id_dias_entre_vencto").prop('disabled',true);
                    }
                    else {
                        $("#id_dias_entre_vencto").prop('disabled',false);
                    }
                });

			}
			else {
				$(".parcelamento").hide();
			}
		});

        $(".form_inc_despesa").on("change", "#id_repetir", function(e){
			if ($(this).is(":checked")){
				$(".repetir").show();
                $("#id_parcela").prop("checked",false)
                $(".parcelamento").hide();
                $("#id_dt_vencimento").prop('required',true);
                $("#id_qtd_repetir").prop('required',true);
			}
			else {
				$(".repetir").hide();
                $("#id_dt_vencimento").prop('required',false);
                $("#id_qtd_repetir").prop('required',false);
			}
		 });


        $(".js-datepicker").datepicker({
            todayBtn: true,
            language: "pt-BR",
            autoclose: true,
            todayHighlight: true
        });


        function load_cotacaoform(){
            var indice_id = $('#id_indice').val();
            if(indice_id != ''){
                var url = '{% url 'indice_cotacao' %}';
                url = url+'?indice_id='+indice_id;
                 $("#id_cotacao").load(url,function(){
                $("#id_cotacao").trigger("chosen:updated");
                });
            }
            else{
                $("#id_cotacao").html('');
            }
        }

        $("#id_indice").on("change",function(e){
               load_cotacaoform();
        });
              load_cotacaoform();


          $(".form_inc_despesa .cancel_form").on("click",function(e){
            $('.form_inc_despesa').hide("drop");
            $('.form_busca').show("puff");
            $('.table_lancfinanceiro').show("puff");
            $('.btn_lancamentos').show("puff");
          });
    });
});


$(".form_inc_despesa").on("submit","form",function(e){
     e.preventDefault();
     var dados = $(this).serialize();
     $.post("{% url 'create_despesa' %}",dados,function(result){
        $(".form_inc").html(result);
        if(close_modal==true){
           $('.form_inc').hide("drop");
           $('.table_lancfinanceiro').show("puff");
           $('.btn_lancamentos').show();
           window.location.reload();
        }
        else{
            $(".form_inc_despesa").show();
            {% include 'js_floating_labels.html' %}
            {% include 'js_tabs.html' %}
            $('.chosen-select').chosen({ width: '100%' });

            $(".form_inc .cancel_form").on("click",function(e){
                 $('.form_inc').hide("drop");
                 $('.table_lancfinanceiro').hide("drop");
                 $('.btn_lancamentos').show();
            });
        }
     });
});



<!-- Edições -->
$(".table_lancfinanceiro").on("click", ".edit_lancto",function(e){
    e.preventDefault();
    $(".form_edit ").load($(this).attr('href'), function(){
          $('.form_edit').show("slide");
          $('.form_busca').hide("drop");
          $('.table_lancfinanceiro').hide("drop");
          $('.btn_lancamentos').hide("drop");

          {% include 'js_floating_labels.html' %}
          {% include 'js_masks.html' %}
          $('.chosen-select').chosen({ width: '100%' });
          $('.form_edit #id_vlr_text').focus();


          function load_cotacaoform(){
            var indice_id = $('#id_indice').val();
            if(indice_id != ''){
                var url = '{% url 'indice_cotacao' %}';
                url = url+'?indice_id='+indice_id;
                 $("#id_cotacao").load(url,function(){
                $("#id_cotacao").trigger("chosen:updated");
                });
            }
            else{
                $("#id_cotacao").html('');
            }
        }


        $("#id_indice").on("change",function(e){
               load_cotacaoform();
        });




          $(".form_edit .cancel_form").on("click",function(e){
              $('.form_edit').hide("drop");
              $('.form_busca').show("puff");
              $('.table_lancfinanceiro').show("puff");
              $('.btn_lancamentos').show("puff");
          });
    });
});


$(".form_edit").on("submit","form",function(e){
	 	 e.preventDefault();


        var tem_parcela = $('#tem_parcela').val();
         if(tem_parcela == 'S'){
			if(confirm("Lançamento tem outras parcelas, deseja alterar todas?")){
				$('#confirma_parcela').val('S');
			}
         }

	 	 var dados = $(this).serialize();
	 	 $.post($(this).attr('action'),dados,function(result){
	 	    $(".form_edit").html(result);
                window.location.reload();
	 	 });
	 });




$("#confirma_baixa").on("click",function(e){
    var data = $('#data_baixa_modal').val();
    $('#data_baixa').val(data);
    $('#form_baixa_lancamento').submit();

});







$(".delete_lancto").on("click", function(e){
    e.preventDefault();
    var linkURL = $(this).attr("href");
    swal({
        title: "Tem certeza?",
        text: "Ao aceitar este registro será excluido!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Sim, Excluir!",
        cancelButtonText: "Não, Cancelar!",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function(isConfirm){
        if (isConfirm) {

            swal("Excluido!", "Registro excluido com sucesso!", "success");
            window.location.href = linkURL;
        }
        else {

            swal("Cancelado", "Exclusão cancelada", "error");
        }
	});

});


{% endblock %}



