{% load static widget_tweaks %}
{% if success %}
   <script>
	   close_modal=true;
   </script>
{% else %}
<div>
    <div class="block block-link-pop">
        <div class="block-header">
            <h3 class="block-title">Permissão de Usuário</h3>
            <div class="block-options">
                <button type="button" class="btn-block-option cancel_form">
                    <i class="fa fa-close"></i>
                </button>
            </div>
        </div>
        <div class="block-content">
           <p class="text-muted m-b-30 font-13">Informe abaixo quais os módulos que o usuário pode utilizar</p>
            <form class="form_permissoes"  method="post" enctype="multipart/form-data" action="{% url 'edit_permissions' object.pk %}">
              {% csrf_token %}
                {% for error in form.non_field_errors %}
                <div class="alert-danger alert">
                    {{ error }}
                </div>
              {% endfor %}
             {% for field in form %}
                <div class="col-6">
                    <label class="css-control css-control-sm css-control-primary css-switch">
                      {% render_field field type="checkbox" class='css-control-input' %}
                      <span class="css-control-indicator"></span> {{ field.label_tag }}
                    </label>
                </div>
             {% endfor %}
                <div class="form-group row">
                    <div class="col-md-9">
                        <button type="submit" class="btn btn-alt-primary">Salvar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
