<table class="table table-vcenter">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Usuário</th>
            <th>E-mail</th>
            <th class="d-none d-sm-table-cell" style="width: 25%;">Situação</th>
            <th class="text-center" style="width: 100px;"></th>
        </tr>
    </thead>
    <tbody>
       {% for users in users_viewers %}
        <tr>
            <td>{{ users.name }}</td>
            <td>{{ users.username }}</td>
            <td>{{ users.email }}</td>

            <td class="d-none d-sm-table-cell">
                {% if users.is_active == True %}
                <span class="badge badge-success">Ativo</span>
                {% else %}
                <span class="badge badge-danger">Inativo</span>
                {% endif %}
            </td>
            <td class="text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-secondary edit_viewer"  href="{% url 'edit_viewer' users.pk %}" data-toggle="tooltip" data-placement="bottom" title="Editar">
                        <i class="fa fa-pencil"></i>
                    </button>


                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
