{% extends "menu.html" %}
{% load static widget_tweaks humanize %}



<!-- Bread crumb and right sidebar toggle -->
{% block title_page %} Cadastro de Usuários {% endblock %}

{% block page_body %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <h6 class="card-subtitle">Cadastro de Usuários
            <div class="col-lg-2 col-md-4 pull-right new_viewer">
                     <a  href="{% url 'register_viewer' %}" id="create_user" type="button" class="btn waves-effect waves-light btn-block btn-success add_viewer_btn">Novo Usuario</a>
            </div>
        </h6>

        <div class="table-responsive table_viewers">
          {% include '_table_users_viewers.html' %}
        </div>
    </div>
</div>


<div id="modal-create-userView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Criar Usuario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>



<div id="modal-update-userView" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Usuário</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>




{% endblock %}


{% block javascript %}

function loading_viewers(){
      $('.table_viewers').load('{{ request.path }}');
	}



 $('#myTable').DataTable({
     "language": {
         "lengthMenu": "Mostrando _MENU_ registros por página",
         "search" : "Procurar: ",
         "info" : "Exibindo de _START_ a _END_ de _TOTAL_ registros",
         "infoEmpty": "Nenhum registro encontrado",
         "infoFiltered": "(filtrado entre _MAX_ registros)",
         "paginate" : {
           "first":      "Primeiro",
           "last":       "Último",
           "next":       "Próximo",
           "previous":   "Anterior"
         },
     }
});


<!-- Create Viewer -->
$(".new_viewer").on("click",".add_viewer_btn", function(e){
				e.preventDefault();
				$("#modal-create-userView .modal-body").load("{% url 'register_viewer' %}", function(){
				  $('#modal-create-userView').modal("show");
                });

});

$("#modal-create-userView .modal-body").on("submit","form",function(e){
	 	 e.preventDefault();
	 	 var dados = $(this).serialize();
	 	 $.post("{% url 'register_viewer' %}",dados,function(result){
	 	    $("#modal-create-userView .modal-body").html(result);
	 	    if(close_modal==true){
	 	       $('#modal-create-userView').modal("hide");
               loading_viewers();
	 	    }
	 	    else{
	 	       $('#modal-create-userView').modal("show");
	 	    }
	 	 });
	 });







<!-- Update Viewer -->
$(".table_viewers").on("click", ".edit_viewer", function(e){
        e.preventDefault();
  		$("#modal-update-userView .modal-body").load($(this).attr('href'), function(){
              $('#modal-update-userView').modal("show");
			    });
	});

$("#modal-update-userView .modal-body").on("submit","form",function(e){
	 	 e.preventDefault();

	 	 var dados = $(this).serialize();
	 	 $.post($(this).attr('action'),dados,function(result){
	 	    $("#modal-update-userView .modal-body").html(result);
	 	    if(close_modal==true){
	 	       $('#modal-update-userView').modal("hide");
               loading_viewers();
               window.location.reload()

	 	    }
	 	    else{
	 	       $('#modal-update-userView').modal("show");
	 	    }
	 	 });
	 });




<!-- Permissions -->
$(".table_viewers").on("click", ".permissions", function(e){
        e.preventDefault();
  		$("#modal-update-userView .modal-body").load($(this).attr('href'), function(){
              $('#modal-update-userView').modal("show");
			    });
	});

$("#modal-update-userView .modal-body").on("submit","form",function(e){
	 	 e.preventDefault();

	 	 var dados = $(this).serialize();
	 	 $.post($(this).attr('action'),dados,function(result){
	 	    $("#modal-update-userView .modal-body").html(result);
	 	    if(close_modal==true){
	 	       $('#modal-update-userView').modal("hide");
               loading_viewers();
               window.location.reload()

	 	    }
	 	    else{
	 	       $('#modal-update-userView').modal("show");
	 	    }
	 	 });
	 });















{% endblock %}



