{% extends "menu.html" %}
{% load static widget_tweaks humanize %}



<!-- Bread crumb and right sidebar toggle -->
{% block title %} Cadastro de Usuários {% endblock %}

{% block page_body %}

<div class="block">
    <div class="block-content">
        <div class="row pull-right btn-insert">
        <button type="button" class="btn btn-square btn-outline-success min-width-125 mb-10 new_viewer">
                 <i class="fa fa-plus mr-5"></i> Novo Usuário
        </button>
        </div>
        <div>
            <div class="row">
                <div class="form_inc col-md-6">
                </div>
                <div class="form_permissao col-md-6">
                </div>
            </div>
            <div class="row">

                <div class="form_edit col-md-6"></div>
                <div class="form_edit_permissoes"></div>

            </div>



          </div>



        </div>
        <div class="row pt-20 table table_viewers">
         {% include '_table_users_viewers.html' %}
        </div>
    </div>
</div>


{% endblock %}


{% block javascript %}


$('.form_inc').hide();
$('.form_edit').hide();

var close_modal

function loading_viewers(){
      $('.table_viewers').load('{{ request.path }}');
	}




<!-- Create Viewer -->

$(".new_viewer").on("click",function(e){
     e.preventDefault();
     $(".form_inc").load("{% url 'register_viewer' %}", function(){
        $('.form_inc').show("puff");
        $('.new_viewer').hide("drop");
        $('.table_viewers').hide("drop");
        $('.apos_insert').hide();

        {% include 'js_floating_labels.html' %}


          $(".form_inc .cancel_form").on("click",function(e){
             $('.form_inc').hide("drop");
             $('.new_viewer').show();
             $('.table_viewers').show();
        });
    });
});

ok =  {{ ok }}

$(".form_inc").on("submit","form",function(e){
	 	 e.preventDefault();
	 	 var dados = $(this).serialize();
	 	 $.post("{% url 'register_viewer' %}",dados,function(result){
	 	    $(".form_inc").html(result);
	 	    if(ok==ok){

                {% include 'js_floating_labels.html' %}

                $(".form_permissao").load(url, function(){
                    $('.form_permissao').show("puff");
                    $('.password').hide();
                    $('.antes_insert').hide();
                    $('.apos_insert').show();
                });
	 	    }
	 	    else{
	 	       $('.form_inc').show();
	 	    }
	 	 });
	 });



<!-- Update Viewer -->
$(".table_viewers").on("click", ".edit_viewer", function(e){
        e.preventDefault();

  		$(".form_edit").load($(this).attr('href'), function(){
               $('.form_edit').show("puff");
               $('.new_viewer').hide("drop");
               $('.table_viewers').hide("drop");

               {% include 'js_floating_labels.html' %}

               $(".form_edit .cancel_form").on("click",function(e){
                    $('.form_edit').hide("drop");
                    $('.form_edit_permissoes').hide("drop");
                    $('.new_viewer').show();
                    $('.table_viewers').show();
               });


                $(".form_edit .edit_permissoes").on("click", function(e){
                     e.preventDefault();

                    $(".form_edit_permissoes").load($(this).attr('href'), function(){
                           $('.form_edit_permissoes').show("drop");

                           {% include 'js_floating_labels.html' %}

                           $(".form_edit_permissoes .cancel_form").on("click",function(e){
                                $('.form_edit').hide("drop");
                                $('.form_edit_permissoes').hide("drop");
                                $('.new_viewer').show();
                                $('.table_viewers').show();
                           });
                    });
                });

                $(".form_edit_permissoes").on("submit","form",function(e){
                         e.preventDefault();
                         var dados = $(this).serialize();
                         $.post($(this).attr('action'),dados,function(result){
                            $(".form_edit_permissoes").html(result);
                            if(ok==ok){
                               $('.form_edit').hide("drop");
                               $('.form_edit_permissoes').hide("drop");
                               $('.new_viewer').show("puff");
                               loading_viewers();
                               $('.table_viewers').show("puff");

                            }
                            else{
                               $(".form_edit").show();
                               $('.form_edit_permissoes').show();
                            }
                         });
                });
		});
	});

$(".form_edit").on("submit","form",function(e){
	 	 e.preventDefault();
	 	 var dados = $(this).serialize();
	 	 $.post($(this).attr('action'),dados,function(result){
	 	    $(".form_edit").html(result);
	 	    if(ok==ok){
	 	       $('.form_edit').hide("drop");
               $('.form_edit_permissoes').hide("drop");
               $('.new_viewer').show("puff");
               loading_viewers();
               $('.table_viewers').show("puff");

	 	    }
	 	    else{
	 	       $(".form_edit").show();
	 	    }
	 	 });
	 });




<!-- Permissions -->











{% endblock %}



