{% load static widget_tweaks humanize %}
        <table id="table_contratos" class="table table-bordered table-striped table-vcenter js-dataTable-full" >
            <thead>
                <tr>
                    <th><small>Nº</small></th>
                    <th><small>Cadastro</small></th>
                    <th><small>Contrato</small></th>
                    <th><small>Data O.S</small></th>
                    <th><small>Faturada</small></th>
                    <th><small>Valor</small></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for os in os %}
                    <td><small>{{ os.num_os }}</small></td>
                    <td><small><strong>{{ os.cadgeral}}</strong></small></td>
                    <td><small>{% if os.contrato %} {{ os.contrato }} {% else %} O.S Avulsa {% endif %}</small></td>
                    <td><small>{{ os.data_os|date:'d/m/Y' }}</small></td>
                    <td>{% if os.situacao_fat == 'A' %}
                            <span class="badge badge-danger" text="Não Faturada">Não</span>
                        {% else %}
                            <span class="badge badge-info" text="Faturada">Sim</span>
                        {% endif %}</td>
                    <td><strong>{{ os.valor_unit|intcomma }}</strong></td>
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-info print_os"  href="{% url 'rel_os' %}" value="{{ os.id }}" data-toggle="tooltip" data-placement="bottom" title="Imprimir OS">
                           <i class="fa fa-print"></i></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary edit_os" href="{% url 'edit_os' os.pk %}" data-toggle="tooltip" data-placement="bottom" title="Editar">
                           <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-danger delete_os" href="{% url 'delete_os' os.pk %}" data-toggle="tooltip" data-placement="bottom" title="Excluir">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>


















