{% load static widget_tweaks humanize %}
{% if success %}
   <script>
  	  close_form=true;
  	  talhao = "{{ form.instance.talhao }}";
	  area = {{ form.instance.area|floatformat:"2"  }};
	  pk = {{ form.instance.pk }};
	  url = '{% url 'delete_talhao' form.instance.pk %}';
	  total_area = {{ sum_talhao.area|floatformat:"2"  }};
   </script>
{% else %}
<form class="form-horizontal" name="formtalhao" id="form_talhao_edit">
    {% csrf_token %}
    <div class="form-group">
        <div class="form-material floating">
            {% render_field  form.talhao class='form-control' %}
            <label for="{{  form.talhao.id }}">Talhão</label>
            {% for error in form.talhao.errors %}
            <div class="alert alert-danger alert-dismissable">
                <p class="mb-0">{{ error }}</p>
            </div>
            {% endfor %}
        </div>

        <div class="form-material floating">
            {% render_field  form.area class='form-control' %}
            <label for="{{  form.area.id }}">Área</label>
            {% for error in form.area.errors %}
            <div class="alert alert-danger alert-dismissable">
                <p class="mb-0">{{ error }}</p>
            </div>
            {% endfor %}
        </div>

    <br>

        <button type="submit" class="btn btn-alt-primary">Salvar</button>


    </div>

</form>
{% endif %}