{% load static widget_tweaks %}
{% if success %}
   <script>
  	 close_modal=true;
  	 ok = true;
   </script>
{% else %}
<div class="block">
    <div class="block-header ribbon ribbon-success ribbon-left">
                        <h3 class="block-title antes_insert">Nova Propriedade</h3>
                        <div class="block-options antes_insert">
                            <button type="button" class="btn-block-option cancel_form">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>

                    </div>
    <ul class="nav nav-tabs nav-tabs-alt" data-toggle="tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#aba_principal">Principal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#aba_endereco">Endereço</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#aba_talhao">Talhões/Área</a>
        </li>
    </ul>

    <form method="post" class="form_propriety" id="form_create">
             {% csrf_token %}
                {% for error in form.non_field_errors %}
                <div class="alert-danger alert">
                {{ error }}
                </div>
                {% endfor %}
             <div class="block-content tab-content">
                <div class="tab-pane active" id="aba_principal" role="tabpanel">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="form-material input-group">
                                <label>Empresa Vinculada</label>
                                {% render_field form.company class="chosen-select" %}
                                {% for error in form.company.errors %}
                                <small class="form-control-feedback"> {{ error }} </small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-material floating input-group">
                                {% render_field  form.ie class='form-control' %}
                                <label for="{{  form.ie.id }}">I.E Propriedade</label>
                            </div>
                                {% for error in form.ie.errors %}
                                <div class="alert alert-danger alert-dismissable">{{ error }}</div>
                                {% endfor %}
                        </div>
                    </div>
                    <div class="form-group row">
                       <div class="col-md-6">
                            <div class="form-material floating retorno_busca">
                                {% render_field  form.razao class='form-control' %}
                                <label for="{{  form.razao.id }}">Razão Social/Nome</label>
                                {% for error in form.razao.errors %}
                                <div class="alert alert-danger alert-dismissable">
                                    <p class="mb-0">{{ error }}</p>
                                </div>
                                {% endfor %}
                            </div>
                       </div>
                       <div class="col-md-6">
                           <div class="form-material floating retorno_busca">
                               {% render_field  form.fantasia class='form-control' %}
                               <label for="{{  form.fantasia.id }}">Nome Fantasia</label>
                               {% for error in form.fantasia.errors %}
                               <div class="alert alert-danger alert-dismissable">
                                   <p class="mb-0">{{ error }}</p>
                               </div>
                               {% endfor %}
                           </div>
                        </div>
                    </div>
                </div>
             <div class="tab-pane" id="aba_endereco" role="tabpanel">
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="form-material floating retorno_busca ret_cep">
                            {% render_field  form.cep class='form-control' %}
                            <label for="{{  form.cep.id }}">CEP</label>
                            {% for error in form.cep.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-material floating retorno_busca ret_cep">
                            {% render_field  form.endereco class='form-control' %}
                            <label for="{{  form.endereco.id }}">Endereço</label>
                            {% for error in form.endereco.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-material floating retorno_busca">
                            {% render_field  form.numero class='form-control' %}
                            <label for="{{  form.numero.id }}">Nº</label>
                            {% for error in form.numero.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="form-material floating retorno_busca">
                            {% render_field  form.complemento class='form-control' %}
                            <label for="{{  form.complemento.id }}">Complemento</label>
                            {% for error in form.complemento.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-material floating retorno_busca ret_cep">
                            {% render_field  form.bairro class='form-control' %}
                            <label for="{{  form.bairro.id }}">Bairro</label>
                            {% for error in form.bairro.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-material floating retorno_busca ret_cep">
                            {% render_field  form.cidade class='form-control' %}
                            <label for="{{  form.cidade.id }}">Município</label>
                            {% for error in form.cidade.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-material floating retorno_busca ret_cep">
                            {% render_field  form.uf class='form-control' %}
                            <label for="{{  form.uf.id }}">UF</label>
                            {% for error in form.uf.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
             </div>
             <div class="tab-pane" id="aba_talhao" role="tabpanel">
                <div class="form-group row ">
                    <div class="col-md-2">
                        <div class="form-material floating">
                            {% render_field  form.area class='form-control' %}
                            <label for="{{  form.area.id }}">Área</label>
                            {% for error in form.area.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <br>

                        <div class="row">
                                <div class="col-md-5"></div>
                                <button type="button" class="btn btn-sm btn-outline-primary mb-10 pull-right">
                                    <i class="fa fa-plus mr-5"></i> Talhão
                                </button>
                            </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7">
                        <div class="block">
                                <table class="table table-bordered table-striped table-vcenter js-dataTable-simple">
                                <thead>
                                        <th class="d-none d-sm-table-cell">Talhão</th>
                                        <th class="d-none d-sm-table-cell">Área</th>
                                        <th class="text-center" style="width: 15%;"></th>

                                </thead>
                                <tbody class="tb_body_talhao">


                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
             </div>
           </div>
           <div class="row">

           </div>
          <br>
          <br>
         <div class="form-group row ">

                <button type="submit" class="btn btn-alt-primary">Salvar</button>
                <button type="button"  class="btn btn-alt-secondary  cancel_form">Cancelar</button>
         </div>
    </form>


</div>
{% endif %}