{% load static widget_tweaks %}
                     <div>
                        <div class="card">
                            <div class="card-body">
                                <div class="alert alert-danger alert-rounded campo_obrigatorio"><i class="fa fa-warning"></i>   Existe campos obrigatórios não preenchidos.
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                                        </div>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#principal" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Principal
                                        <div class="notify principal"> <span class="heartbit"></span> <span class="point"></span> </div>
                                    </span></a></li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#endereco" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Endereço
                                        <div  class="notify endereco"> <span class="heartbit"></span> <span class="point"></span> </div>
                                    </span></a> </li>
                                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#contato" role="tab"><span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Contato
                                        <div  class="notify contato"> <span class="heartbit"></span> <span class="point"></span> </div>
                                    </span></a> </li>
                                </ul>
                                <form method="post" class="criaempresa" id="form_cria_empresa">
                                 {% csrf_token %}
                                    {% for error in form.non_field_errors %}
                                    <div class="alert-danger alert">
                                    {{ error }}
                                    </div>
                                    {% endfor %}
                                <!-- Tab panes -->
                                        <div class="tab-content tabcontent-border">
                                            <div class="tab-pane active p-20" id="principal" role="tabpanel">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">{{form.cnpj_cpf.label_tag}}<span class="text-danger pos_submit_cnpj">*</span></label>
                                                            <div class="input-group">
                                                                {% render_field form.cnpj_cpf class="form-control" type=text placeholder=form.cnpj_cpf.label  %}
                                                            <span class="input-group-btn btn_busca">
                                                                <a class="btn btn-success btn"    id="btn_busca_cnpj"><i class="fa  fa-search"> </i></a>
                                                            </span>
                                                            </div>
                                                            {% for error in form.cnpj_cpf.errors %}
                                                            <small class="text-danger"> {{ error }} </small>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <!--/span-->

                                                </div>
                                                <div class="row p-t-20">
                                                     <div class="col-md-7">
                                                        <div class="form-group">
                                                            <label class="control-label">{{form.razao.label_tag}}<span class="text-danger pos_submit_razao">*</span></label>
                                                             {% render_field form.razao class="form-control" placeholder=form.razao.label  required="false"  %}
                                                            {% for error in form.razao.errors %}
                                                            <small class="form-control-feedback"> {{ error }} </small>
                                                            {% endfor %}
                                                        </div>
                                                     </div>

                                                    <div class="col-md-5">
                                                           <label class="control-label">{{form.fantasia.label_tag}}</label>
                                                             {% render_field form.fantasia class="form-control" placeholder=form.fantasia.label %}
                                                            {% for error in form.fantasia.errors %}
                                                            <small class="form-control-feedback"> {{ error }} </small>
                                                            {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                     <div class="col-md-12">
                                                        <div class="checkbox checkbox-success">
                                                            {% render_field form.cliente type="checkbox" %}
                                                             <label for="id_cliente">Cliente</label>
                                                            {% for error in form.cliente.errors %}
                                                            <div class="alert alert-danger">{{ error }}</div>
                                                             {% endfor %}
                                                        </div>

                                                          <div class="checkbox checkbox-success">
                                                            {% render_field form.fornecedor type="checkbox" %}
                                                             <label for="id_fornecedor">Fornecedor</label>
                                                            {% for error in form.fornecedor.errors %}
                                                            <div class="alert alert-danger">{{ error }}</div>
                                                             {% endfor %}
                                                        </div>
                                                     </div>
                                                </div>
                                             </div>
                                             <div class="tab-pane  p-20" id="endereco" role="tabpanel">
                                                 <div class="row p-t-20">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="control-label">{{form.cep.label_tag}}</label>
                                                            {% render_field form.cep class="form-control" placeholder=form.cep.label %}
                                                            {% for error in form.cep.errors %}
                                                            <small class="form-control-feedback"> {{ error }} </small>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <label class="control-label">{{form.endereco.label_tag}}<span class="text-danger pos_submit_endereco">*</span></label>
                                                             {% render_field form.endereco class="form-control" placeholder=form.endereco.label %}
                                                            {% for error in form.endereco.errors %}
                                                            <small class="form-control-feedback"> {{ error }} </small>
                                                            {% endfor %}
                                                    </div>
                                                    <div class="col-md-3">
                                                           <label class="control-label">{{form.numero.label_tag}}</label>
                                                             {% render_field form.numero class="form-control" placeholder=form.numero.label %}
                                                            {% for error in form.numero.errors %}
                                                            <small class="form-control-feedback"> {{ error }} </small>
                                                            {% endfor %}
                                                        </div>
                                                    <!--/span-->
                                                </div>
                                        <!--/row-->
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="control-label">{{form.complemento.label_tag}}</label>
                                                             {% render_field form.complemento class="form-control" placeholder=form.complemento.label %}
                                                            {% for error in form.complemento.errors %}
                                                            <small class="form-control-feedback"> {{ error }} </small>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                            <!--/span-->
                                                    <div class="col-md-4">
                                                           <label class="control-label">{{form.bairro.label_tag}}</label>
                                                             {% render_field form.bairro class="form-control" placeholder=form.bairro.label %}
                                                            {% for error in form.bairro.errors %}
                                                            <small class="form-control-feedback"> {{ error }} </small>
                                                            {% endfor %}
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="control-label">{{form.cidade.label_tag}}</label>
                                                             {% render_field form.cidade class="form-control" placeholder=form.cidade.label %}
                                                            {% for error in form.cidade.errors %}
                                                            <small class="form-control-feedback"> {{ error }} </small>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                            <label class="control-label">{{form.uf.label_tag}}</label>
                                                            {% render_field form.uf class="form-control" placeholder=form.uf.label %}
                                                            {% for error in form.uf.errors %}
                                                            <small class="form-control-feedback"> {{ error }} </small>
                                                            {% endfor %}
                                                    </div>
                                                </div>
                                             </div>
                                             <div class="tab-pane p-20" id="contato" role="tabpanel">
                                                <div class="row p-t-20">
                                                    <div class="col-md-7">
                                                        <div class="form-group">
                                                            <label class="control-label">{{form.email.label_tag}}</label>
                                                            {% render_field form.email class="form-control" placeholder=form.email.label %}
                                                            {% for error in form.email.errors %}
                                                            <small class="form-control-feedback"> {{ error }} </small>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-4">
                                                        <label class="control-label">{{form.telefone.label_tag}}</label>
                                                             {% render_field form.telefone class="form-control" placeholder=form.telefone.label %}
                                                            {% for error in form.telefone.errors %}
                                                            <small class="form-control-feedback"> {{ error }} </small>
                                                            {% endfor %}
                                                    </div>
                                                </div>
                                             </div>
                                        </div>
                                        <br>
                                       <div class="form-actions">
                                        <button type="submit"  class="btn btn-success submit"> <i class="fa fa-check"></i> Salvar</button>
                                        <a type="button" class="btn btn-inverse" href="{% url 'company_list' %}">Cancelar</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


