{% load static widget_tweaks %}
{% if success %}
   <script>
	   close_modal=true;
	   id_planofinan = {{ form.instance.pk }};
  	   descricao = "{{ form.instance.descricao }}";
   </script>
{% else %}
<div class="block">
    <div class="block-header ribbon ribbon-success ribbon-left">
        <h3 class="block-title antes_insert titulo_form">Novo Plano Financeiro</h3>
        <div class="block-options antes_insert">
            <button type="button" class="btn-block-option cancel_form">
                <i class="fa fa-close"></i>
            </button>
        </div>

    </div>
    <form method="post" class="form_planofinan" id="form_create">
             {% csrf_token %}
                {% for error in form.non_field_errors %}
                <div class="alert-danger alert">
                {{ error }}
                </div>
                {% endfor %}
             <div class="block-contentt">
                 <div class="form-group row">
                      <div class="col-md-6">
                            <div class="form-material floating input-group">
                                {% render_field  form.descricao class='form-control' %}
                                <label for="{{  form.descricao.id }}">Descrição</label>
                            </div>
                                {% for error in form.descricao.errors %}
                                <div class="alert alert-danger alert-dismissable">{{ error }}</div>
                                {% endfor %}

                        </div>
                        <div class="col-md-3">
                            <div class="form-material input-group">
                                <label>Sinal</label>
                                {% render_field form.sinal class="chosen-select" %}
                                {% for error in form.sinal.errors %}
                                <small class="form-control-feedback"> {{ error }} </small>
                                {% endfor %}
                            </div>
                            <div>
                                    <small class="form-control-feedback text-danger aviso_sinal" style="display:none;"> campo obrigatório </small>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-material input-group">
                                <label>Grupo Demonstrativo</label>
                                {% render_field form.grupodre class="chosen-select" %}
                                {% for error in form.grupodre.errors %}
                                <small class="form-control-feedback"> {{ error }} </small>
                                {% endfor %}
                            </div>
                        </div>
                 </div>

                     <button type="submit"  id="btn_salvar" class="btn btn-alt-primary">Salvar</button>
                     <button type="button"  class="btn btn-alt-secondary  cancel_form">Cancelar</button>

             </div>
    </form>
</div>

{% endif %}