{% load static widget_tweaks %}
{% if success %}
   <script>
	   close_modal=true;
   </script>
{% else %}
<div>
    <p class="text-muted m-b-30 font-13">Alterar Plano Financeiro</p>
        <form class="form"  method="post" enctype="multipart/form-data" action="{% url 'edit_ccusto' object.pk %}">
          {% csrf_token %}
            {% for error in form.non_field_errors %}
            <div class="alert-danger alert">
                {{ error }}
            </div>
          {% endfor %}
    <div class="form-group">

            {{ form.descricao.label_tag }}
            {% render_field form.descricao class='form-control form-control-success' placeholder=descricao.label  %}
             {% for error in form.descricao.errors %}
             <div class="alert alert-danger">{{ error }}</div>
             {% endfor %}
    </div>
            <div class="form-group m-b-0">
                <div class="offset-sm-3">
                    <button type="submit" class="btn btn-success waves-effect waves-light m-t-10">Salvar Alterações</button>
                </div>
            </div>
        </form>
</div>
{% endif %}