    <table id="tabela_empresas" class="table table-bordered table-striped table-vcenter js-dataTable-full">
                <thead>
                    <tr>
                        <th></th>
                        <th>Empresa</th>
                        <th>CNPJ/CPF</th>
                        <th class="d-none d-sm-table-cell" style="width: 15%;">Situação</th>
                        <th>Data Cadastro</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for emp in companys %}
                    <tr>
                        <td>{{ emp.num_company }}</td>
                        <td  class="font-w600">{{ emp.razao }}</td>
                        <td >{{ emp.cnpj_cpf }}</td>
                        <td >{% if emp.situacao == True %}
                            <span class="badge badge-success">A</span>
                            {% else %}
                            <span class="badge badge-danger">I</span>
                            {% endif %}</td>
                        <td>{{ emp.data_cadastro|date:'d/m/Y'  }}</td>
                        <td >
                             <button type="button" class="btn btn-sm btn-outline-secondary edit_company"  href="{% url 'edit_company' emp.pk  %}" data-toggle="tooltip" data-placement="bottom" title="Editar">
                                <i class="fa fa-pencil"></i>
                             </button>
                             <button type="button" class="btn btn-sm btn-outline-danger delete_company"  href="{% url 'delete_company' emp.pk  %}" data-toggle="tooltip" data-placement="bottom" title="Excluir">
                                <i class="fa fa-trash-o"></i>
                             </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
