        <table id="tabela_cadgeral" class="table table-bordered table-striped table-vcenter js-dataTable-full">
            <thead>
                <tr>
                    <th>Cód</th>
                    <th>Nome</th>
                    <th>CPF/CNPJ</th>
                    <th>Cidade</th>
                    <th>UF</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for cad in cad %}
                <tr>
                    <td>{{ cad.num_cad }}</td>
                    <td>{{ cad.razao }}</td>
                    <td>{{ cad.cnpj_cpf }}</td>
                    <td>{{ cad.cidade }}</td>
                    <td>{{ cad.uf }}</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-secondary edit_cadgeral"  href="{% url 'edit_cadgeral' cad.pk  %}" data-toggle="tooltip" data-placement="bottom" title="Editar">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-danger delete_cadgeral"  href="{% url 'delete_cadgeral' cad.pk  %}" data-toggle="tooltip" data-placement="bottom" title="Excluir">
                             <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
