    <table id="tabela_propriedades" class="table table-bordered table-striped table-vcenter js-dataTable-full">
                <thead>
                    <tr>
                        <th></th>
                        <th>Propriedade</th>
                        <th>I.E</th>
                        <th>Empresa</th>
                        <th>Situação</th>
                        <th>Data Cadastro</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for prop in prop %}
                    <tr>
                        <td>{{ prop.num_propriety }}</td>
                        <td class="font-w600">{{ prop.razao }}</td>
                        <td>{{ prop.ie }}</td>
                        <td>{{ prop.company }}</td>
                        <td>{% if prop.situacao == True %}
                            <span class="badge badge-success">A</span>
                            {% else %}
                            <span class="badge badge-danger">I</span>
                            {% endif %}</td>
                        <td>{{ prop.data_cadastro|date:'d/m/Y' }}</td>
                        <td >
                             <button type="button" class="btn btn-sm btn-outline-secondary edit_propriety"  href="{% url 'edit_propriety' prop.pk  %}" data-toggle="tooltip" data-placement="bottom" title="Editar">
                                <i class="fa fa-pencil"></i>
                             </button>
                             <button type="button" class="btn btn-sm btn-outline-danger delete_propriety"  href="{% url 'delete_propriety' prop.pk  %}" data-toggle="tooltip" data-placement="bottom" title="Excluir">
                                <i class="fa fa-trash-o"></i>
                             </button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>