    <table id="tabela_ccusto" class="table table-bordered table-striped table-vcenter js-dataTable-full">
                <thead>
                    <tr>
                        <th>Cód.</th>
                        <th>Descricao</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for cc in ccusto %}
                    <tr>
                        <td>{{ cc.num_ccusto }}</td>
                        <td>{{ cc.descricao }}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-outline-secondary edit_ccusto"  href="{% url 'edit_ccusto' cc.pk %}" data-toggle="tooltip" data-placement="bottom" title="Editar">
                                <i class="fa fa-pencil"></i>
                             </button>
                             <button type="button" class="btn btn-sm btn-outline-danger delete_ccusto"  href="{% url 'delete_ccusto' cc.pk %}" data-toggle="tooltip" data-placement="bottom" title="Excluir">
                                <i class="fa fa-trash-o"></i>
                             </button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>