{% extends "menu.html" %}
{% load static widget_tweaks humanize %}



<!-- Bread crumb and right sidebar toggle -->
{% block title %} Cadastro de Empresas {% endblock %}

{% block page_body %}

<div class="block">
    <div class="block-content">
        <div class="row pull-right btn-insert">
        <button type="button" class="btn btn-outline-primary mr-5 mb-5  new_company">
                 <i class="fa fa-plus mr-5"></i> Nova Empresa
        </button>
        </div>
        <div>
            <div class="row">
                <div class="form_inc col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="form_edit col-md-12"></div>
            </div>
        </div>



        </div>
        <div class="row table table_empresas">
         {% include '_table_companys.html' %}
        </div>
    </div>
</div>


{% endblock %}


{% block javascript %}




$('.form_inc').hide();
$('.form_edit').hide();

var close_modal

function loading_viewers(){
      $('.table_empresas').load('{{ request.path }}');
}


table = $('#tabela_empresas').DataTable({
    "language": {
     "lengthMenu": "Mostrando _MENU_ registros por página",
     "search" : "Procurar: ",
     "info" : "Exibindo de _START_ a _END_ de _TOTAL_ registros",
     "infoEmpty": "Nenhum registro encontrado",
     "infoFiltered": "(filtrado entre _MAX_ registros)",
     "paginate" : {
       "first":      "Primeiro",
       "last":       "Último",
       "next":       "Próximo",
       "previous":   "Anterior"
     },
     responsive: {
            details: {
                type: 'column'
            }
        },
        columnDefs: [ {
            className: 'control',
            orderable: false,
            targets:   0
        } ],
        order: [ 1, 'asc' ]
 }
});






<!-- Create Company -->

$(".new_company").on("click",function(e){
     e.preventDefault();
     $(".form_inc").load("{% url 'create_company' %}", function(){
        $('.form_inc').show("puff");
        $('.new_company').hide("drop");
        $('.table_empresas').hide("drop");
        $('.btn_busca').hide();

        {% include 'js_floating_labels.html' %}
        {% include 'js_tabs.html' %}
        {% include 'js_pesquisas_cnpj_cep.html' %}

          $(".form_inc .cancel_form").on("click",function(e){
             $('.form_inc').hide("drop");
             $('.new_company').show();
             $('.table_empresas').show();
          });



    });
});



    $(".form_inc").on("submit","form",function(e){
	 	 e.preventDefault();
	 	 var dados = $(this).serialize();
	 	 $.post("{% url 'create_company' %}",dados,function(result){
	 	    $(".form_inc").html(result);
	 	    if(close_modal==true){
	 	       $('.form_inc').hide("drop");
               $('.new_company').show();
               loading_viewers();
               $('.table_empresas').show();

     	    }
 	        else{
                $(".form_inc").show();
                $('.btn_busca').hide();
                {% include 'js_floating_labels.html' %}
                {% include 'js_tabs.html' %}
                {% include 'js_pesquisas_cnpj_cep.html' %}

                   $(".form_inc .cancel_form").on("click",function(e){
             $('.form_inc').hide("drop");
             $('.new_company').show();
             $('.table_empresas').show();
          });


 	        }
	 	 });
	});

<!-- Edit Company -->
$('.table_empresas').on('click', '.edit_company',function(e){
    e.preventDefault();
    $(".form_edit ").load($(this).attr('href'), function(){
              $('.form_edit').show("slide");
               $('.new_company').hide("drop");
              $('.table_empresas').hide("puff");
              $(".btn_busca").hide();
              $("#id_cnpj_cpf").focus();

              {% include 'js_floating_labels.html' %}
              {% include 'js_tabs.html' %}
              {% include 'js_pesquisas_cnpj_cep.html' %}

              $(".form_edit .cancel_form").on("click",function(e){
                  $('.form_edit').hide("drop");
                  $('.new_company').show();
                  $('.table_empresas').show();
              });
    });


});



$(".form_edit").on("submit","form",function(e){
	 	 e.preventDefault();

	 	 var dados = $(this).serialize();
	 	 $.post($(this).attr('action'),dados,function(result){
	 	    $(".form_edit").html(result);
	 	    if(ok==ok){
	 	       $('.form_edit').hide("drop");
                 window.location.reload();

	 	    }
	 	    else{
	 	       $('.form_edit').show("puff");
                $('.btn_busca').hide();
                {% include 'js_floating_labels.html' %}
                {% include 'js_tabs.html' %}
                {% include 'js_pesquisas_cnpj_cep.html' %}

                $(".form_inc .cancel_form").on("click",function(e){
                    $('.form_edit').hide("drop");
                    $('.new_company').show();
                    $('.table_empresas').show();
	 	        });
            }
	 	 });
	 });



    $(".delete_company").on("click", function(e){

    e.preventDefault();
    var linkURL = $(this).attr("href");
    swal({
        title: "Tem certeza?",
        text: "Ao aceitar esta empresa será excluida!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Sim, Excluir!",
        cancelButtonText: "Não, Cancelar!",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function(isConfirm){
        if (isConfirm) {

            swal("Excluido!", "Registro excluido com sucesso!", "success");
            window.location.href = linkURL;
        }
        else {

            swal("Cancelado", "Exclusão cancelada", "error");
        }
	});

});




{% endblock %}



