{% extends "menu.html" %}
{% load static widget_tweaks humanize %}



<!-- Bread crumb and right sidebar toggle -->
{% block title_page %} Propriedades {% endblock %}

{% block page_body %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Cadastros</h4>
        <h6 class="card-subtitle">Cadastro de Propriedades
            <div class="col-lg-2 col-md-4 pull-right">
                     <a class="btn btn-success btn new_propriety" title="Nova Propriedade " href="{% url 'create_propriety' %}"><i class="fa fa-plus"></i><small> Cadastrar</small></a>
            </div>
        </h6>
         <br>


        <div class="table-responsive table_propriety">
          {% include '_table_propriety.html' %}
        </div>
    </div>
</div>


<div id="modal-propriety" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title-modal"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-update-propriety" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title-modal-update"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>





{% endblock %}


{% block javascript %}



$('#myTable').DataTable({
     "language": {
         "lengthMenu": "Mostrando _MENU_ registros por página",
         "search" : "Procurar: ",
         "info" : "Exibindo de _START_ a _END_ de _TOTAL_ registros",
         "infoEmpty": "Nenhum registro encontrado",
         "infoFiltered": "(filtrado entre _MAX_ registros)",
         "paginate" : {
           "first":      "Primeiro",
           "last":       "Último",
           "next":       "Próximo",
           "previous":   "Anterior"
         },
     }
});





function load_propriety(){
      $('.table_propriety').load('{{ request.path }}');
    }






$(".new_propriety").on("click",function(e){
    e.preventDefault();

    $("#modal-propriety .modal-body").load("{% url 'create_propriety' %}", function(){
          $('#title-modal').text("Inclusão de Propriedade");
          $('#modal-propriety').modal("show");
          $(".campo_obrigatorio").hide();
          $(".principal").hide();
          $(".endereco").hide();
          $(".contato").hide();
          $(".pos_submit_ie").hide();
          $(".pos_submit_razao").hide();
          $(".pos_submit_endereco").hide();


                  function limpa_formulário_cep() {
                    // Limpa valores do formulário de cep.
                    $("#id_endereco").val("");
                    $("#id_bairro").val("");
                    $("#id_cidade").val("");
                    $("#id_uf").val("");
                  }

                  $("#id_cep").blur(function() {

                    //Nova variável "cep" somente com dígitos.
                    var cep = $(this).val().replace(/\D/g, '');

                    //Verifica se campo cep possui valor informado.
                    if (cep != "") {

                        //Expressão regular para validar o CEP.
                        var validacep = /^[0-9]{8}$/;

                        //Valida o formato do CEP.
                        if(validacep.test(cep)) {

                            //Preenche os campos com "..." enquanto consulta webservice.
                            $("#id_endereco").val("...");
                            $("#id_bairro").val("...");
                            $("#id_cidade").val("...");
                            $("#id_uf").val("...");

                            //Consulta o webservice viacep.com.br/
                            $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                                if (!("erro" in dados)) {
                                    //Atualiza os campos com os valores da consulta.
                                    $("#id_endereco").val(dados.logradouro);
                                    $("#id_bairro").val(dados.bairro);
                                    $("#id_cidade").val(dados.localidade);
                                    $("#id_uf").val(dados.uf);
                                } //end if.
                                else {
                                    //CEP pesquisado não foi encontrado.
                                    limpa_formulário_cep();
                                    alert("CEP não encontrado.");
                                }
                            });
                        } //end if.
                        else {
                            //cep é inválido.
                            limpa_formulário_cep();
                            alert("Formato de CEP inválido.");
                        }
                    } //end if.
                    else {
                        //cep sem valor, limpa formulário.
                        limpa_formulário_cep();
                    }
                  });


                $(".submit").on("click",function(e){
                    if($("#id_ie").val().length < 0){
                        $(".pos_submit_ie").hide();
                        $(".campo_obrigatorio").show();
                        $(".principal").show();
                        e.preventDefault();
                    }

                    if($("#id_razao").val().length == 0){
                        $(".pos_submit_razao").hide();
                        $(".campo_obrigatorio").show();
                        $(".principal").show();
                        e.preventDefault();

                    }

                    if($("#id_endereco").val().length == 0){
                        $(".pos_submit_endereco").show();
                        $(".campo_obrigatorio").show();
                        $(".endereco").show();
                        e.preventDefault();
                    }
			    });




               });


});


$("#modal-propriety .modal-body").on("submit","form",function(e){
	 	 e.preventDefault();
	 	 var dados = $(this).serialize();
	 	 $.post("{% url 'create_propriety' %}",dados,function(result){
	 	    $("#modal-propriety .modal-body").html(result);
	 	    if(close_modal==true){
	 	       $('#modal-propriety').modal("hide");
               window.location.reload();
	 	    }
	 	    else{
	 	       $('#modal-propriety').modal("show");
	 	    }
	 	 });
	 });






var ok = {{ ok }}

$(".table_propriety").on("click", ".edit_propriety", function(e){
        e.preventDefault();
  		$("#modal-update-propriety .modal-body").load($(this).attr('href'), function(){
              $('#title-modal-update').text("Editar Propriedade");
              $('#modal-update-propriety').modal("show");
              $(".campo_obrigatorio").hide();
              $(".principal").hide();
              $(".endereco").hide();
              $(".contato").hide();
              $(".pos_submit_razao").hide();
              $(".pos_submit_endereco").hide();
              $("#id_cnpj_cpf").focus();


              function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#id_endereco").val("");
                $("#id_bairro").val("");
                $("#id_cidade").val("");
                $("#id_uf").val("");
              }

              $("#id_cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#id_endereco").val("...");
                        $("#id_bairro").val("...");
                        $("#id_cidade").val("...");
                        $("#id_uf").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#id_endereco").val(dados.logradouro);
                                $("#id_bairro").val(dados.bairro);
                                $("#id_cidade").val(dados.localidade);
                                $("#id_uf").val(dados.uf);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
              });


            $(".submit").on("click",function(e){


                if($("#id_razao").val().length == 0){
                    $(".pos_submit_razao").hide();
                    $(".campo_obrigatorio").show();
                    $(".principal").show();
                    e.preventDefault();

                }

                if($("#id_endereco").val().length == 0){
                    $(".pos_submit_endereco").show();
                    $(".campo_obrigatorio").show();
                    $(".endereco").show();
                    e.preventDefault();
                }
            });




		});
	});



$("#modal-update-propriety .modal-body").on("submit","form",function(e){
	 	 e.preventDefault();

	 	 var dados = $(this).serialize();
	 	 $.post($(this).attr('action'),dados,function(result){
	 	    $("modal-update-propriety .modal-body").html(result);
	 	    if(ok==ok){
	 	       $('#modal-update-propriety').modal("hide");
                window.location.reload();

	 	    }
	 	    else{
	 	       $('#modal-update-propriety').modal("show");
	 	    }
	 	 });
	 });







$(".delete_company").on("click", function(e){

    e.preventDefault();
    var linkURL = $(this).attr("href");
    swal({
        title: "Tem certeza?",
        text: "Ao aceitar esta empresa será excluida!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Sim, Excluir!",
        cancelButtonText: "Não, Cancelar!",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function(isConfirm){
        if (isConfirm) {

            swal("Excluido!", "Registro excluido com sucesso!", "success");
            window.location.href = linkURL;
        }
        else {

            swal("Cancelado", "Exclusão cancelada", "error");
        }
});

	});






{% endblock %}



