{% extends "menu.html" %}
{% load static widget_tweaks humanize %}



<!-- Bread crumb and right sidebar toggle -->
{% block title %} Cadastro de Propriedades {% endblock %}

{% block page_body %}

<div class="block">
    <div class="block-content">
        <div class="row pull-right btn-insert">
        <button type="button" class="btn btn-outline-primary mr-5 mb-5  new_propriety">
                 <i class="fa fa-plus mr-5"></i> Nova Propriedade
        </button>
        </div>
        <div>
            <div class="row">
                <div class="form_inc col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="form_edit col-md-12"></div>
            </div>
        </div>



        </div>
        <div class="row table table_propriedade">
         {% include '_table_propriety.html' %}
        </div>
    </div>
</div>



<div class="modal fade" id="modal-talhao" tabindex="-1" role="dialog" aria-labelledby="modal-slideright" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideright" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title">Terms &amp; Conditions</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="si si-close"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content">
                            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                            <p>Dolor posuere proin blandit accumsan senectus netus nullam curae, ornare laoreet adipiscing luctus mauris adipiscing pretium eget fermentum, tristique lobortis est ut metus lobortis tortor tincidunt himenaeos habitant quis dictumst proin odio sagittis purus mi, nec taciti vestibulum quis in sit varius lorem sit metus mi.</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-alt-success" data-dismiss="modal">
                            <i class="fa fa-check"></i> Perfect
                        </button>
                    </div>
                </div>
            </div>
        </div>





{% endblock %}


{% block javascript %}



$('.chosen-select').chosen({ width: '100%' });
$('.form_inc').hide();
$('.form_edit').hide();

var close_modal

function loading_propriety(){
      $('.table_propriedade').load('{{ request.path }}');
}


table = $('#tabela_propriedades').DataTable({
    "language": {
     "lengthMenu": "Mostrando _MENU_ registros por página",
     "search" : "Procurar: ",
     "info" : "Exibindo de _START_ a _END_ de _TOTAL_ registros",
     "infoEmpty": "Nenhum registro encontrado",
     "infoFiltered": "(filtrado entre _MAX_ registros)",
     "paginate" : {
       "first":      "Primeiro",
       "last":       "Último",
       "next":       "Próximo",
       "previous":   "Anterior"
     },
     responsive: {
            details: {
                type: 'column'
            }
        },
        columnDefs: [ {
            className: 'control',
            orderable: false,
            targets:   0
        } ],
        order: [ 1, 'asc' ]
 }
});


<!-- Create Company -->

$(".new_propriety").on("click",function(e){
     e.preventDefault();
     $(".form_inc").load("{% url 'create_propriety' %}", function(){
        $('.form_inc').show("puff");
        $('.new_propriety').hide("drop");
        $('.table_propriedade').hide("drop");
        $('.chosen-select').chosen({ width: '100%' });


        $('.js-dataTable-simple').dataTable({
            pageLength: 4,
            lengthMenu: [[5, 2, 2], [5, 2, 2]],
            autoWidth: false,
            searching: false,
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "info" : "Exibindo de _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Nenhum registro encontrado",
                "infoFiltered": "(filtrado entre _MAX_ registros)",
                "paginate" : {
                        "first":      "Primeiro",
                        "last":       "Último",
                        "next":       "Próximo",
                        "previous":   "Anterior"
                }
                },
            dom: "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-6'i><'col-sm-6'p>>"
        });


        {% include 'js_floating_labels.html' %}
        {% include 'js_tabs.html' %}
        {% include 'js_pesquisas_cnpj_cep.html' %}



        $(".new_talhao").on("click",function(e){
				e.preventDefault();
                $('#modal-talhao').modal("show");
        });




          $(".form_inc .cancel_form").on("click",function(e){
             $('.form_inc').hide("drop");
             $('.new_propriety').show();
             $('.table_propriedade').show();
          });
     });
});



    $(".form_inc").on("submit","form",function(e){
	 	 e.preventDefault();
	 	 var dados = $(this).serialize();
	 	 $.post("{% url 'create_propriety' %}",dados,function(result){
	 	    $(".form_inc").html(result);
	 	    if(close_modal==true){
	 	       $('.form_inc').hide("drop");
               $('.new_propriety').show();
               loading_propriety();
               $('.table_propriedade').show();







     	    }
 	        else{
                    $(".form_inc").show();
                    {% include 'js_floating_labels.html' %}
                    {% include 'js_tabs.html' %}
                    {% include 'js_pesquisas_cnpj_cep.html' %}

                   $(".form_inc .cancel_form").on("click",function(e){
                        $('.form_inc').hide("drop");
                        $('.new_propriety').show();
                        $('.table_propriedade').show();
                    });
 	        }
	 	 });
	});

<!-- Edit Company -->
$('.table_propriedade').on('click', '.edit_propriety',function(e){
    e.preventDefault();
    $(".form_edit ").load($(this).attr('href'), function(){
              $('.form_edit').show("slide");
               $('.new_propriety').hide("drop");
              $('.table_propriedade').hide("puff");


              {% include 'js_floating_labels.html' %}
              {% include 'js_tabs.html' %}
              {% include 'js_pesquisas_cnpj_cep.html' %}

              $(".form_edit .cancel_form").on("click",function(e){
                  $('.form_edit').hide("drop");
                  $('.new_company').show();
                  $('.table_propriedade').show();
              });
    });


});



$(".form_edit").on("submit","form",function(e){
	 	 e.preventDefault();

	 	 var dados = $(this).serialize();
	 	 $.post($(this).attr('action'),dados,function(result){
	 	    $(".form_edit").html(result);
	 	    if(ok==ok){
	 	       $('.form_edit').hide("drop");
                 window.location.reload();

	 	    }
	 	    else{
	 	       $('.form_edit').show("puff");
                $('.btn_busca').hide();
                {% include 'js_floating_labels.html' %}
                {% include 'js_tabs.html' %}
                {% include 'js_pesquisas_cnpj_cep.html' %}

                $(".form_inc .cancel_form").on("click",function(e){
                    $('.form_edit').hide("drop");
                    $('.new_company').show();
                    $('.table_empresas').show();
	 	        });
            }
	 	 });
	 });



    $(".delete_company").on("click", function(e){

    e.preventDefault();
    var linkURL = $(this).attr("href");
    swal({
        title: "Tem certeza?",
        text: "Ao aceitar esta empresa será excluida!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Sim, Excluir!",
        cancelButtonText: "Não, Cancelar!",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function(isConfirm){
        if (isConfirm) {

            swal("Excluido!", "Registro excluido com sucesso!", "success");
            window.location.href = linkURL;
        }
        else {

            swal("Cancelado", "Exclusão cancelada", "error");
        }
	});

});




{% endblock %}



