{% extends "menu.html" %}
{% load static widget_tweaks humanize %}



<!-- Bread crumb and right sidebar toggle -->
{% block title %} Cadastro de Propriedades {% endblock %}

{% block page_body %}

<div class="block">
    <div class="block-content">
        <div class="row  btn-insert">
        <button type="button" class="btn btn-outline-primary mr-5 mb-5  new_propriety">
                 <i class="fa fa-plus mr-5"></i> Nova Propriedade
        </button>
        </div>
        <div>
            <div class="row">
                <div class="form_inc col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="form_edit col-md-12"></div>
            </div>
        </div>



        </div>
        <div class="row table table_propriedade">
         {% include '_table_propriety.html' %}
        </div>
    </div>
</div>



<div class="modal fade" id="modal-talhao" tabindex="-1" role="dialog" aria-labelledby="modal-slideright" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideright modal-sm" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title">Inserir Talhão</h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="si si-close"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>





{% endblock %}


{% block javascript %}



$('.chosen-select').chosen({ width: '100%' });
$('.form_inc').hide();
$('.form_edit').hide();

var close_modal

function loading_propriety(){
      $('.table_propriedade').load('{{ request.path }}');
}


table = $('#tabela_propriedades').DataTable({
    "language": {
     "lengthMenu": "Mostrando _MENU_ registros por página",
     "search" : "Procurar: ",
     "info" : "Exibindo de _START_ a _END_ de _TOTAL_ registros",
     "infoEmpty": "Nenhum registro encontrado",
     "infoFiltered": "(filtrado entre _MAX_ registros)",
     "paginate" : {
       "first":      "Primeiro",
       "last":       "Último",
       "next":       "Próximo",
       "previous":   "Anterior"
     },
     responsive: {
            details: {
                type: 'column'
            }
        },
        columnDefs: [ {
            className: 'control',
            orderable: false,
            targets:   0
        } ],
        order: [ 1, 'asc' ]
 }
});


<!-- Create Company -->

$(".new_propriety").on("click",function(e){
     e.preventDefault();
     $(".form_inc").load("{% url 'create_propriety' %}", function(){
        $('.form_inc').show("puff");
        $('.new_propriety').hide("drop");
        $('.table_propriedade').hide("drop");
        $('.chosen-select').chosen({ width: '100%' });


        {% include 'js_floating_labels.html' %}
        {% include 'js_tabs.html' %}
        {% include 'js_pesquisas_cnpj_cep.html' %}
        {% include 'js_tabelas_formularios.html' %}

        $(".new_talhao").on("click",function(e){
         var area_propriedade =  $('#id_area').val();
                if(area_propriedade == 0){
                    swal('Verificar área.', 'A área da propriedade deve conter algum valor!', 'error');
                }
                else{
                    e.preventDefault();
                    $("#modal-talhao .block-content").load("{% url 'create_talhao_create_prop' %}", function(){
                        $('#modal-talhao').modal("show");
                        {% include 'js_floating_labels.html' %}
                    });
                }

        });

         $("#modal-talhao .block-content").on("submit","#form_talhao_create",function(e){
                 e.preventDefault();
                 var dados = $(this).serialize();
                 $.post("{% url 'create_talhao_create_prop' %}",dados,function(result){
                    $("#modal-talhao .block-content").html(result);
                    if(close_form==true){
                       $('#modal-talhao').modal("hide");
                        var total_a = $('#id_area').val();
                        $('.tb_body_talhao_create_form').append("<tr><td><small>"+ talhao +"</small></td><td>"+ area +"</td><td><button type='button' class='btn btn-sm btn-outline-danger delete_talhao' data-toggle='tooltip' data-placement='bottom' title='Excluir' href='"+ url+" '><i class='fa fa-trash'></i></button></td></tr>");
                        if (total_a < total_area){
                                     swal('Verificar área.', 'A área da propriedade é menor que a soma das áreas dos talhoes!', 'info');
                                }
                    }
                    else{
                       $('#modal-talhao').modal("show");
                    }
                 });
         });

         $(".form_inc .cancel_form").on("click",function(e){
             $('.form_inc').hide("drop");
             $('.new_propriety').show();
             $('.table_propriedade').show();
          });
     });
});



    $(".form_inc").on("submit","form",function(e){
	 	 e.preventDefault();
	 	 var dados = $(this).serialize();
	 	 $.post("{% url 'create_propriety' %}",dados,function(result){
	 	    $(".form_inc").html(result);
	 	    if(close_modal==true){
	 	       $('.form_inc').hide("drop");
               $('.new_propriety').show();
               loading_propriety();
               $('.table_propriedade').show();
     	    }
 	        else{
                    $(".form_inc").show();
                    {% include 'js_floating_labels.html' %}
                    {% include 'js_tabs.html' %}
                    {% include 'js_pesquisas_cnpj_cep.html' %}

                   $(".form_inc .cancel_form").on("click",function(e){
                        $('.form_inc').hide("drop");
                        $('.new_propriety').show();
                        $('.table_propriedade').show();
                    });
 	        }
	 	 });
	});

<!-- Edit Company -->
$('.table_propriedade').on('click', '.edit_propriety',function(e){
    e.preventDefault();
    $(".form_edit ").load($(this).attr('href'), function(){
              $('.form_edit').show("slide");
              $('.new_propriety').hide("drop");
              $('.table_propriedade').hide("puff");
              $('.chosen-select').chosen({ width: '100%' });


              {% include 'js_floating_labels.html' %}
              {% include 'js_tabs.html' %}
              {% include 'js_pesquisas_cnpj_cep.html' %}
              {% include 'js_tabelas_formularios.html' %}

                  $(".new_talhao").on("click",function(e){
                    var area_propriedade =  $('#id_area').val();
                    if(area_propriedade == 0){
                        swal('Verificar área.', 'A área da propriedade deve conter algum valor!', 'error');
                    }
                    else{
                        e.preventDefault();
                        $("#modal-talhao .block-content").load("{% url 'create_talhao_edit_prop' %}", function(){
                           $('#modal-talhao').modal("show");
                          {% include 'js_floating_labels.html' %}
                        });
                    }
                  });

                 $("#modal-talhao .block-content").on("submit","form",function(e){
                         e.preventDefault();
                         var dados = $(this).serialize();
                         $.post("{% url 'create_talhao_edit_prop' %}",dados,function(result){
                            $("#modal-talhao .block-content").html(result);
                            if(close_form==true){
                               $('#modal-talhao').modal("hide");
                                var total_a = $('#id_area').val();
                                $('.tb_body_talhao_edit_form').append("<tr><td>"+ talhao +"</td><td>"+ area +"</td><td><button type='button' class='btn btn-sm btn-outline-danger delete_talhao' data-toggle='tooltip' data-placement='bottom' title='Excluir' href='"+ url+" '><i class='fa fa-trash'></i></button></td></tr>");
                                if (total_a < total_area){

                                    swal('Verificar área.', 'A área da propriedade é menor que a soma das áreas dos talhoes!', 'info');
                                }



                            }
                            else{
                               $('#modal-talhao').modal("show");
                            }
                         });
                 });



              $(".form_edit .cancel_form").on("click",function(e){
                  $('.form_edit').hide("drop");
                  $('.new_propriety').show();
                  $('.table_propriedade').show();
              });
    });


});



$(".form_edit").on("submit","form",function(e){
	 	 e.preventDefault();

	 	 var dados = $(this).serialize();
	 	 $.post($(this).attr('action'),dados,function(result){
	 	    $(".form_edit").html(result);
	 	    if(ok==ok){
	 	       $('.form_edit').hide("drop");
                 window.location.reload();

	 	    }
	 	    else{
	 	       $('.form_edit').show("puff");
                $('.btn_busca').hide();
                {% include 'js_floating_labels.html' %}
                {% include 'js_tabs.html' %}
                {% include 'js_pesquisas_cnpj_cep.html' %}

                $(".form_inc .cancel_form").on("click",function(e){
                    $('.form_edit').hide("drop");
                    $('.new_company').show();
                    $('.table_empresas').show();
	 	        });
            }
	 	 });
	 });



    $(".delete_propriety").on("click", function(e){

    e.preventDefault();
    var linkURL = $(this).attr("href");
    swal({
        title: "Tem certeza?",
        text: "Ao aceitar esta empresa será excluida!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Sim, Excluir!",
        cancelButtonText: "Não, Cancelar!",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function(isConfirm){
        if (isConfirm) {

            swal("Excluido!", "Registro excluido com sucesso!", "success");
            window.location.href = linkURL;
        }
        else {

            swal("Cancelado", "Exclusão cancelada", "error");
        }
	});

});




{% endblock %}



