{% extends "menu.html" %}
{% load static widget_tweaks humanize %}



<!-- Bread crumb and right sidebar toggle -->
{% block title %} Ordens de Serviço {% endblock %}

{% block page_body %}

<div class="block">
    <div class="block-content">
        <div class="block">
            <div class="block-content block-content-full ribbon ribbon-left ribbon-bookmark ribbon-primary">
                    <button class="btn btn-outline-secondary mr-5 mb-5 baixa btn_lancamentos pull-right" hidden
                        data-toggle="tooltip" data-placement="bottom" title="Imprimir lançamentos listados"
                         id="btn_impressao"><i class="fa fa-print"></i></button>
                    <button class="btn btn-outline-primary mr-5 mb-5 new_os btn_lancamentos pull-right" data-toggle="tooltip" data-placement="bottom" title="Nova O.S"><i class="fa fa-plus"></i></i></button>
                    <button type="button"  class="btn  btn-outline-primary btn_lancamentos  mr-5 mb-5" id="mostrar_filtros"   data-toggle="tooltip" data-placement="bottom" title="Exibir filtros de pesquisa">
                       <i class="fa fa-filter"></i> Pesquisar
                   </button>

                <div class="ribbon-box form_busca" style="display:none;">
                    Filtros de Pesquisa
                </div>
                <br>
                <br>
                <div class="form_busca" style="display:none;">
                    <form>
                        <div class="filtros_extras">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-material input-group">
                                        <label>{{ form.empresa.label_tag }}</label>
                                        {% render_field form.empresa class="chosen-select" %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-material input-group">
                                        <label>{{ form.cadgeral.label_tag }}</label>
                                        {% render_field form.cadgeral class="chosen-select" %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-material input-group">
                                        <label>{{ form.contrato.label_tag }}</label>
                                        {% render_field form.contrato class="chosen-select" %}
                                    </div>
                                </div>
                                <div class="col-6">
                                        <label for="id_data_lanc_ini">Data Ordem de Serviço</label>
                                        <div class="input-daterange input-group js-datepicker-enabled" data-date-format="dd/mm/yyyy" data-week-start="1" data-autoclose="true" data-today-highlight="true">
                                            {% render_field form.data_os_ini class="form-control js-datepicker"   placeholder="dd/mm/aaaa" data-week-start="1" data-autoclose="true" data-today-highlight="true"%}
                                            <span class="input-group-addon font-w600">  &nbsp; até  &nbsp; </span>
                                            {% render_field form.data_os_fim class="form-control js-datepicker"   placeholder="dd/mm/aaaa" data-week-start="1" data-autoclose="true" data-today-highlight="true"%}
                                        </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-material input-group">
                                        <button type="submit"  class="btn  btn-outline-primary mr-5 mb-5 form_pesquisa form_bus"   data-toggle="tooltip" data-placement="bottom" title="Pesquisar O.S's">
                                            <i class="fa fa-search"></i>
                                        </button>
                                        <button type="button"  class="btn  btn-outline-danger  mr-5 mb-5 limpa_filtro_pesquisa_os"   data-toggle="tooltip" data-placement="bottom" title="Remover filtros">
                                             <i class="fa fa-search-minus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                    <div>
                        <div class="row">
                            <div class="form_inc col-md-12">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form_edit col-md-12"></div>
                        </div>
                    </div>
                </div>
                <div class="row table table_os">
                 {% include '_table_os.html' %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-rel_os" tabindex="-1" role="dialog" aria-labelledby="modal-slideright" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideright" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title">Relatório OS</h3><h3 class="block-title info_modal"></h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>





{% include 'modais_lancfin.html' %}


{% endblock %}


{% block javascript %}

{% include 'js_filtros_pesquisas.html' %}

$('.chosen-select').chosen({ width: '100%' });
$('.form_inc').hide();
$('.form_edit').hide();




table = $('#table_contratos').DataTable({
    "language": {
     "lengthMenu": "Mostrando _MENU_ registros por página",
     "search" : "Procurar: ",
     "info" : "Exibindo de _START_ a _END_ de _TOTAL_ registros",
     "infoEmpty": "Nenhum registro encontrado",
     "infoFiltered": "(filtrado entre _MAX_ registros)",
     "paginate" : {
       "first":      "Primeiro",
       "last":       "Último",
       "next":       "Próximo",
       "previous":   "Anterior"
     },
     responsive: {
            details: {
                type: 'column'
            }
        },
        columnDefs: [ {
            className: 'control',
            orderable: false,
            targets:   0
        } ],
        order: [ 1, 'asc' ]
 }
});






<!-- Create Company -->
$(".new_os").on("click",function(e){
     e.preventDefault();
     $(".form_inc").load("{% url 'create_os' %}", function(){
        $('.form_inc').show("puff");
        $('.form_busca').hide("drop");
        $('.btn_lancamentos').hide("drop");
        $('.new_os').hide("drop");
        $('.chosen-select').chosen({ width: '100%' });
        $('.table_os').hide("drop");

        {% include 'js_floating_labels.html' %}
        {% include 'js_tabs.html' %}
        {% include 'js_masks.html' %}
        {% include 'js_summernote.html' %}
        {% include 'js_inclusoes.html' %}

        $(".js-datepicker").datepicker({
            todayBtn: true,
            language: "pt-BR",
            autoclose: true,
            todayHighlight: true
        });



        function load_contratoform(){
            var cadgeral_id = $('#cadgeral_id2').val();
            if(cadgeral_id != ''){
                var url = '{% url 'cadgeral_contrato' %}';
                url = url+'?cadgeral_id='+cadgeral_id;
                 $("#id_contrato2").load(url,function(){
                $("#id_contrato2").trigger("chosen:updated");
                });
            }
            else{
                $("#id_contrato2").html('');
            }
        }


        $("#cadgeral_id2").on("change",function(e){
               load_contratoform();
        });
              load_contratoform();


        $('#btn_salvar').on("click",function(e){
            var cpo_cadgeral

            cpo_cadgeral = $('#cadgeral_id2').val();

            if(cpo_cadgeral == '') {
                    alert ('Favor preencher os campos obigatórios!');
                    $('.aviso_cadgeral').show();
            }
        });



        $(".form_inc .cancel_form").on("click",function(e){
           $('.form_inc').hide("drop");
           $('.new_os').show();
           $('.btn_lancamentos').show("puff");
           $('.table_os').show("drop");
        });
     });
});

$(".form_inc").on("submit","form",function(e){
     e.preventDefault();
     var dados = $(this).serialize();
     $.post("{% url 'create_os' %}",dados,function(result){
        $(".form_inc").html(result);
        if(close_modal==true){
           $('.form_inc').hide("drop");
           $('.new_contrato').show();
              window.location.reload();
        }
        else{
            $(".form_inc").show();
            {% include 'js_floating_labels.html' %}
            {% include 'js_tabs.html' %}
            $('.chosen-select').chosen({ width: '100%' });

            $(".form_inc .cancel_form").on("click",function(e){
                $('.form_inc').hide("drop");
                $('.new_os').show();
            });
        }
     });
});






$('.table_os').on('click', '.edit_os',function(e){
    e.preventDefault();
    $(".form_edit ").load($(this).attr('href'), function(){
        $('.form_edit').show("slide");
        $('.form_busca').hide("drop");
        $('.new_os').hide("drop");
        $('.btn_lancamentos').hide("drop");
        $('.chosen-select').chosen({ width: '100%' });
        $('.table_os').hide("drop");

        {% include 'js_floating_labels.html' %}
        {% include 'js_tabs.html' %}
        {% include 'js_masks.html' %}
        {% include 'js_summernote.html' %}
        {% include 'js_inclusoes.html' %}

        $(".js-datepicker").datepicker({
            todayBtn: true,
            language: "pt-BR",
            autoclose: true,
            todayHighlight: true
        });

        function load_contratoform(){
            var cadgeral_id = $('#cadgeral_id2').val();
            if(cadgeral_id != ''){
                var url = '{% url 'cadgeral_contrato' %}';
                url = url+'?cadgeral_id='+cadgeral_id;
                 $("#id_contrato2").load(url,function(){
                $("#id_contrato2").trigger("chosen:updated");
                });
            }
            else{
                $("#id_contrato2").html('');
            }
        }

        $("#cadgeral_id2").on("change",function(e){
               load_contratoform();
        });
              load_contratoform();





        $('#btn_salvar').on("click",function(e){
            var cpo_cadgeral

            cpo_cadgeral = $('#cadgeral_id2').val();

            if(cpo_cadgeral == '') {
                    alert ('Favor preencher os campos obigatórios!');
                    $('.aviso_cadgeral').show();
            }
        });




              $(".form_edit .cancel_form").on("click",function(e){
                  $('.form_edit').hide("drop");
                  $('.new_os').show();
                    $('.btn_lancamentos').show("puff");
                    $('.table_os').show("drop");
              });
    });


});



$(".form_edit").on("submit","form",function(e){
	 	 e.preventDefault();

	 	 var dados = $(this).serialize();
	 	 $.post($(this).attr('action'),dados,function(result){
	 	    $(".form_edit").html(result);
	 	    if(close_modal==true){
	 	       $('.form_edit').hide("drop");
                 window.location.reload();

	 	    }
	 	    else{
	 	       $('.form_edit').show("puff");
                {% include 'js_floating_labels.html' %}
                $('.chosen-select').chosen({ width: '100%' });


                $(".form_inc .cancel_form").on("click",function(e){
                    $('.form_edit').hide("drop");
                    $('.new_os').show();
	 	        });
            }
	 	 });
	 });



$(".table_os").on("click",".delete_os", function(e){

    e.preventDefault();
    var linkURL = $(this).attr("href");
    swal({
        title: "Tem certeza?",
        text: "Ao aceitar este registro será excluido!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Sim, Excluir!",
        cancelButtonText: "Não, Cancelar!",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function(isConfirm){
        if (isConfirm) {

            swal("Excluido!", "Registro excluido com sucesso!", "success");
            window.location.href = linkURL;
        }
        else {

            swal("Cancelado", "Exclusão cancelada", "error");
        }
	});

});


$(".table_os").on("click",".print_os", function(e){

    e.preventDefault();
    var linkURL = $(this).attr("href");
    var pk = $(this).attr("value");

    nova_url = linkURL + '?pk='+pk
     window.open(nova_url);

});





{% endblock %}



