
$("#mostrar_filtros").on("click",function(e){
  $(this).hide();
  $('.form_busca').show();
});

var filtrou
filtrou = '{{ filtrou }}';

if(filtrou == 'ok'){
  $('#mostrar_filtros').hide();
  $('.form_busca').show();
}


$(".limpa_filtro_pesquisa").on("click",function(e){
   window.location="{% url 'lancfin_list' %}"
});



$(".limpa_filtro_pesquisa_contratos").on("click",function(e){
   window.location="{% url 'contratos_list' %}"
});



$(".limpa_filtro_pesquisa_os").on("click",function(e){
   window.location="{% url 'os_list' %}"
});


$(".limpa_filtro_pesquisa_fat").on("click",function(e){
   window.location="{% url 'fat_list' %}"
});
