{% load static widget_tweaks %}
{% if success %}
   <script>
  	 close_modal=true;
   </script>
{% else %}
<div class="card-header">
    <h4 class="m-b-0 text-white">Inclusão Receita<button type="button" class="close cancel_create">×</button></h4>
</div>
<div class="card-body">
 <form  class="form-horizontal titrec" method="post">
{% csrf_token %}
{% for error in form.non_field_errors %}
    <div class="alert-danger alert">
        {{ error }}
    </div>
{% endfor %}
    <div class="form-body">
        <h5 class="box-title">Empresa/Propriedade</h5>
        <hr class="m-t-0 m-b-10">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="control-label col-md-2">{{ form.company.label_tag  }}</label>
                    <div class="col-md-9">
                        {% render_field form.company class="chosen-select" style="width: 100%; height:36px;" %}
                        {% for error in form.company.errors %}
                        <small class="text-danger form-control-feedback"> {{ error }} </small>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="control-label col-md-3">{{ form.propriety.label_tag }}</label>
                    <div class="col-md-9">
                        {% render_field form.propriety class="chosen-select" style="width: 100%; height:36px;" %}
                        {% for error in form.propriety.errors %}
                        <small class="text-danger form-control-feedback"> {{ error }} </small>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
          <hr class="m-t-5 m-b-10">
        <h5 class="box-title">Dados do Lançamento</h5>
        <hr class="m-t-0 m-b-10">
        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="control-label  col-md-2">{{ form.client.label_tag }}</label>
                    <div class="col-md-9">
                        {% render_field form.client class="chosen-select" style="width: 100%; height:36px;"  %}
                        {% for error in form.client.errors %}
                        <small class="text-danger form-control-feedback"> {{ error }} </small>
                        {% endfor %}


                    </div>
                             <button type="button" title="Novo Cliente" class="btn btn-warning btn-circle new_cadgeral"><i class="fa fa-plus"></i> </button>
                </div>
            </div>
            <!--/span-->
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="control-label text-right col-md-4">Vencimento:</label>
                    <div class="col-md-8">
                        {% render_field form.dt_vencimento  placeholder='dd/mm/aaaa' class='form-control datepicker' %}
                        <!--<input type="date" name="dt_vencimento"  class="form-control" placeholder="dd/mm/aaaa" required="" id="id_dt_vencimento">-->
                        {% for error in form.dt_vencimento.errors %}
                        <small class="text-danger form-control-feedback"> {{ error }} </small>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <!--/span-->
        </div>

        <!--/row-->

        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="control-label col-md-4">{{ form.plr_financeiro.label_tag }}</label>
                    <div class="col-md-7">
                         {% render_field form.plr_financeiro class="chosen-select" style="width: 100%; height:36px;" %}
                        {% for error in form.plr_financeiro.errors %}
                        <small class="text-danger form-control-feedback"> {{ error }} </small>
                        {% endfor %}
                    </div>
                    <!--
                    <div class="dropdown">
                    <button type="button" title="Novo Plano Financeiro" class="btn btn-warning btn-circle new_planofin" data-toggle="dropdown"><i class="fa fa-plus"></i> </button>
                        <div class="dropdown-menu dpdown_planofinan" style="padding: 10px;">

                        </div>
                    </div>
                  -->
                 <button type="button" title="Novo Plano Financeiro" class="btn btn-warning btn-circle new_planofin" data-container="body" data-toggle="popover" data-placement="bottom"><i class="fa fa-plus"></i> </button>
                </div>

            </div>


            <!--/span-->
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="control-label col-md-4">{{ form.c_custo.label_tag }}</label>
                    <div class="col-md-7">
                            {% render_field form.c_custo class="chosen-select" style="width: 100%; height:36px;" id="c_custo_id2" %}
                        {% for error in form.c_custo.errors %}
                        <small class="text-danger form-control-feedback"> {{ error }} </small>
                        {% endfor %}
                    </div>
                       <button type="button" class="btn btn-warning btn-circle new_ccusto" title="Novo Centro de Custo" data-container="body" data-toggle="popover2" data-placement="bottom"><i class="fa fa-plus"></i> </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="control-label col-md-4">{{ form.conta_receb.label_tag }}</label>
                    <div class="col-md-7">
                            {% render_field form.conta_receb class="chosen-select" style="width: 100%; height:36px;" %}
                        {% for error in form.conta_receb.errors %}
                        <small class="text-danger form-control-feedback"> {{ error }} </small>
                        {% endfor %}
                    </div>
                    <button type="button" class="btn btn-warning btn-circle new_conta" title="Nova Conta de Recebimento" data-container="body" data-toggle="popover3" data-placement="bottom"><i class="fa fa-plus"></i> </button>
                </div>
            </div>
            <!--/span-->
        </div>
              <hr class="m-t-0 m-b-10">
        <h5 class="box-title">Valores</h5>
         <hr class="m-t-0 m-b-10">
        <!--/row-->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="control-label text-right col-md-3">{{ form.valor_text.label_tag }}</label>
                    <div class="col-md-9">
                        {% render_field  form.valor_text class="form-control" data-thousands="." data-decimal="," data-prefix="R$ " %}
                        {% for error in form.valor_text.errors %}
                        <small class="text-danger form-control-feedback"> {{ error }} </small>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                     <div class="checkbox checkbox-success col-md-3">
                         {% render_field form.parcela type="checkbox" %}
                         <label for="id_parcela">Parcela</label>
                         {% for error in form.parcela.errors %}
                         <small class="form-control-feedback"> {{ error }} </small>
                         {% endfor %}
                     </div>
                    <div class="col-md-3 parcela">
                        <label class="control-label text-right">{{ form.qtd.label_tag }}</label>
                        {% render_field form.qtd class='form-control'  %}
                        {% for error in form.qtd.errors %}
                        <small class="form-control-feedback"> {{ error }} </small>
                         {% endfor %}
                    </div>
                    <div class="col-md-1 parcela"></div>
                    <div class="col-md-4 parcela">
                        <label class="control-label text-right">{{ form.tipo_rept.label_tag }}</label>
                        {% render_field form.tipo_rept class='form-control'  %}
                        {% for error in form.tipo_rept.errors %}
                        <small class="form-control-feedback"> {{ error }} </small>
                         {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="control-label text-right col-md-3">{{  form.cotacao.label_tag }}</label>
                    <div class="col-md-9">
                        {% render_field form.cotacao class="chosen-select" style="width: 100%; height:36px;" %}
                        {% for error in form.cotacao.errors %}
                        <small class="form-control-feedback"> {{ error }} </small>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label class="control-label text-right col-md-3">{{ form.indice.label_tag }}</label>
                    <div class="col-md-9">
                        {% render_field form.indice class="select2 form-control custom-select" style="width: 100%; height:36px;" %}
                        {% for error in form.indice.errors %}
                        <small class="form-control-feedback"> {{ error }} </small>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!--/span-->
    </div>
    <hr>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-success">Salvar</button>
                        <a type="button"  id="cancel_create" href="#" class="btn btn-inverse cancel_create">Cancelar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6"> </div>
        </div>
    </div>
</form>
</div>

{% endif %}

