        <table id="example23" class="display nowrap table table-hover table-striped table-bordered col-lg-2" >
            <thead>
                <tr>
                    <th><small>Nº</small></th>
                    <th><small>Cliente</small></th>
                    <th><small>Lançamento.</small></th>
                    <th><small>Vencimento.</small></th>
                    <th><small>Valor.</small></th>
                    <th><small>Situação.</small></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for tit in titrec %}
                <tr>
                    <td><small>{{ tit.num_rec }}</small></td>
                    <td><small>{{ tit.client }}</small></td>
                    <td><small>{{ tit.dt_lancamento|date:'d/m/Y' }}</small></td>
                    <td><small>{{ tit.dt_vencimento|date:'d/m/Y'  }}</small></td>
                    <td><h5 class="text-success"><strong>{{ tit.valor_text }}</strong></h5></td>
                    {% if tit.situacao == 'A' %}
                    <td><button type="button" class="btn waves-effect waves-light btn-xs">Aberto</button></td>
                    {% else %}
                    <td><button type="button" class="btn waves-effect waves-light btn-xs text-white" style="background-color: #21610B; border-color: #21610B;">Recebido</button></td>
                    {% endif %}
                    <td>
                        <a class="btn btn-success btn btn-sm edit_titrec" title="Editar " href="{% url 'edit_titrec' tit.pk %}"><i class="fa fa-edit"></i><small></small></a>
                        <a class="btn btn-danger btn  btn-sm delete_titrec" title="Excluir " href="{% url 'delete_titrec' tit.pk %}"><i class="fa fa-trash-o"></i><small></small></a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
