{% load static widget_tweaks %}
{% if success %}
   <script>
  	 close_form=true;
   </script>
{% else %}
<div class="block">
    <div class="block-header ribbon ribbon-success ribbon-left">
                        <h3 class="block-title antes_insert">Nova Empresa</h3>
                        <div class="block-options antes_insert">
                            <button type="button" class="btn-block-option cancel_form">
                                <i class="fa fa-close"></i>
                            </button>
                        </div>

                    </div>
    <ul class="nav nav-tabs nav-tabs-alt" data-toggle="tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#aba_principal">Principal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#aba_endereco">Endereço</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#aba_contato">Contatos</a>
        </li>
    </ul>

    <form method="post" class="form_company" id="form_create">
             {% csrf_token %}
                {% for error in form.non_field_errors %}
                <div class="alert-danger alert">
                {{ error }}
                </div>
                {% endfor %}
             <div class="block-content tab-content">
                <div class="tab-pane active" id="aba_principal" role="tabpanel">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <div class="form-material floating input-group">
                                {% render_field  form.cnpj_cpf class='form-control cnpjoucpf' %}
                                <label for="{{  form.cnpj_cpf.id }}">CNPJ/CPF</label>
                                <span class="input-group-addon">
                                    <a class="btn btn-sm btn-circle btn-outline-info mr-5 mb-5 btn_busca" id="btn_busca_cnpj"><i class="fa fa-search"></i></a>
                                </span>
                            </div>
                                {% for error in form.cnpj_cpf.errors %}
                                <div class="alert alert-danger alert-dismissable">{{ error }}</div>
                                {% endfor %}
                        </div>
                        <div class="col-md-8">
                            <div class="form-material floating retorno_busca">
                                {% render_field  form.razao class='form-control' %}
                                <label for="{{  form.razao.id }}">Razão Social/Nome</label>
                                {% for error in form.razao.errors %}
                                <div class="alert alert-danger alert-dismissable">
                                    <p class="mb-0">{{ error }}</p>
                                </div>
                                {% endfor %}
                            </div>
                       </div>
                    </div>
                    <div class="form-group row">
                       <div class="col-md-6">
                           <div class="form-material floating retorno_busca">
                               {% render_field  form.fantasia class='form-control' %}
                               <label for="{{  form.fantasia.id }}">Nome Fantasia</label>
                               {% for error in form.fantasia.errors %}
                               <div class="alert alert-danger alert-dismissable">
                                   <p class="mb-0">{{ error }}</p>
                               </div>
                               {% endfor %}
                           </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-material floating input-group">
                                {% render_field  form.insc_est class='form-control' %}
                                <label for="{{  form.insc_est.id }}">Insc. Estadual</label>
                            </div>
                                {% for error in form.insc_est.errors %}
                                <div class="alert alert-danger alert-dismissable">{{ error }}</div>
                                {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <div class="form-material floating input-group">
                                {% render_field  form.insc_mun class='form-control' %}
                                <label for="{{  form.insc_mun.id }}">Insc. Municipal</label>
                            </div>
                                {% for error in form.insc_mun.errors %}
                                <div class="alert alert-danger alert-dismissable">{{ error }}</div>
                                {% endfor %}
                        </div>
                    </div>
                </div>
             <div class="tab-pane" id="aba_endereco" role="tabpanel">
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="form-material floating retorno_busca ret_cep">
                            {% render_field  form.cep class='form-control' %}
                            <label for="{{  form.cep.id }}">CEP</label>
                            {% for error in form.cep.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-material floating retorno_busca ret_cep">
                            {% render_field  form.endereco class='form-control' %}
                            <label for="{{  form.endereco.id }}">Endereço</label>
                            {% for error in form.endereco.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-material floating retorno_busca">
                            {% render_field  form.numero class='form-control' %}
                            <label for="{{  form.numero.id }}">Nº</label>
                            {% for error in form.numero.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <div class="form-material floating retorno_busca">
                            {% render_field  form.complemento class='form-control' %}
                            <label for="{{  form.complemento.id }}">Complemento</label>
                            {% for error in form.complemento.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-material floating retorno_busca ret_cep">
                            {% render_field  form.bairro class='form-control' %}
                            <label for="{{  form.bairro.id }}">Bairro</label>
                            {% for error in form.bairro.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-material floating retorno_busca ret_cep">
                            {% render_field  form.cidade class='form-control' %}
                            <label for="{{  form.cidade.id }}">Município</label>
                            {% for error in form.cidade.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-material floating retorno_busca ret_cep">
                            {% render_field  form.uf class='form-control' %}
                            <label for="{{  form.uf.id }}">UF</label>
                            {% for error in form.uf.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-material floating retorno_busca ret_cep" hidden>
                            {% render_field  form.ibge_uf class='form-control' %}
                            <label for="{{  form.ibge_uf.id }}">IBGE_UF</label>
                            {% for error in form.ibge_uf.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-material floating retorno_busca ret_cep" hidden>
                            {% render_field  form.ibge_mun class='form-control' %}
                            <label for="{{  form.ibge_mun.id }}">IBGE_UF</label>
                            {% for error in form.ibge_mun.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
             </div>
             <div class="tab-pane" id="aba_contato" role="tabpanel">
                <div class="form-group row">
                    <div class="col-md-7">
                        <div class="form-material floating">
                            {% render_field  form.email class='form-control' %}
                            <label for="{{  form.email.id }}">Email</label>
                            {% for error in form.contato.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-material floating">
                            {% render_field  form.telefone class='form-control' %}
                            <label for="{{  form.telefone.id }}">Telefone</label>
                            {% for error in form.telefone.errors %}
                            <div class="alert alert-danger alert-dismissable">
                                <p class="mb-0">{{ error }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
             </div>
           </div>
           <div class="row">

           </div>
          <br>
          <br>
         <div class="form-group row ">

                <button type="submit" class="btn btn-alt-primary">Salvar</button>
                <button type="button"  class="btn btn-alt-secondary  cancel_form">Cancelar</button>
         </div>
    </form>


</div>
{% endif %}