    <table id="tabela_planofinan" class="table table-bordered table-striped table-vcenter js-dataTable-full">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descricao</th>
                        <th>Sinal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for pf in plfin %}
                    <tr>
                        <td>{{ pf.num_plfin }}</td>
                        <td>{{ pf.descricao }}</td>
                        <td>{% if pf.sinal == 'R' %}
                               <span class="badge badge-success">Receita</span>
                            {% else  %}
                               <span class="badge badge-danger">Despesa</span>
                            {% endif %}
                            </td>
                        <td>
                             <button type="button" class="btn btn-sm btn-outline-secondary edit_planofinan"  href="{% url 'edit_planofinan' pf.pk  %}" data-toggle="tooltip" data-placement="bottom" title="Editar">
                                <i class="fa fa-pencil"></i>
                             </button>
                             <button type="button" class="btn btn-sm btn-outline-danger delete_planofinan"  href="{% url 'delete_planofinan' pf.pk  %}" data-toggle="tooltip" data-placement="bottom" title="Excluir">
                                <i class="fa fa-trash-o"></i>
                             </button>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>