
<!--
$(".new_planofin").on("click",function(e){
    $(".dpdown_planofinan").load("{% url 'create_planofinan' %}", function(){
      e.preventDefault();
    });

});
-->

function form_planofinan(){
 $(".dpdown_planofinan").load("{% url 'create_planofinan' %}", function(){


  });
}

function form_ccusto(){
    $(".dpdown_ccusto").load("{% url 'create_ccusto' %}", function(){

  });

}


form_planofinan();
form_ccusto();

<!-- Plano Financeiro -->
$('button[data-toggle=popover]').popover({
    html : true,
    //trigger: "click",
    content: function() {
      $(".dpdown_planofinan").load("{% url 'create_planofinan' %}", function(){
       e.preventDefault();
      });
      return $('#popover_content_wrapper').html();
    }
})


$(document).on("submit","#planofinan_create",function(e){
         e.preventDefault();
	 	 var dados = $(this).serialize();
	 	 $.post("{% url 'create_planofinan' %}",dados,function(result){
	 	    $("#popover_content_wrapper").html(result);
	 	    if(close_modal==true){
	 	       $('*').popover('hide');
               $('#id_plr_financeiro').append("<option value='" + id_planofinan + "'>"+ descricao + "</option>");
			   $('#id_plr_financeiro').val(id_planofinan);
			   $('#id_plr_financeiro').trigger('chosen:updated');
	 	    }
	 	    else{
	 	       $('.dpdown_planofinan').popover("show");
	 	    }
	 	 });
});


<!-- C Custo -->
$('button[data-toggle=popover2]').popover({
    html : true,
    //trigger: "click",
    content: function() {
      $(".dpdown_ccusto").load("{% url 'create_ccusto' %}", function(){
       e.preventDefault();
      });
      return $('#popover_content_wrapper2').html();
    }
})


$(document).on("submit","#ccusto_create",function(e){
         e.preventDefault();
	 	 var dados = $(this).serialize();
	 	 $.post("{% url 'create_ccusto' %}",dados,function(result){
	 	    $("#popover_content_wrapper2").html(result);
	 	    if(close_modal==true){
	 	       $('*').popover('hide');
               $('#c_custo_id2').append("<option value='" + id_ccusto + "'>"+ ccusto + "</option>");
			   $('#c_custo_id2').val(id_ccusto);
			   $('#c_custo_id2').trigger('chosen:updated');
	 	    }
	 	    else{
	 	       $('.dpdown_ccusto').popover("show");
	 	    }
	 	 });
});




