{% load static widget_tweaks humanize %}
{% block layout_style %}
    <style type="text/css">
         html {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }

        p {
            margin: 0 0 6px 0;
            font-size: 11pt;
        }

        table {
            line-height: 140%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }
            table.bordered {
                border-top: 0.1pt solid #999999;
                border-bottom: 0.1pt solid #999999;
            }


            tr, td, th { border: none; }

            th {
                font-size: 10pt;
                border-bottom: 0.1pt solid #999999;
                padding: 3px 0;
                line-height: 1;
                text-align: inherit;
                font-weight: bold;
            }

            td {
                font-size: 10pt;
                vertical-align: top;
                padding: 0.5px 0;
            }

            td:last-child { padding-bottom: 0; }

        .text-left { text-align: left; }
        .text-right { text-align: right; }
        .bottom-10 { margin-bottom: 10px; }
        .bottom-20 { margin-bottom: 20px; }



        .header { color: #7f7f7f; }
        .receita { color: #009933; }
        .despesa { color: #e62e00; }
        .ajuste { color: #0101DF; }
        .header p { font-size: 13px; line-height: 1.5em; }
        .header-link { font-weight: bold; text-decoration: none; color: #4F81BD; font-size: 14px; }
        .logo { margin-bottom: 20px; margin-left: -25px; }
        .logo img { zoom: 60%; }

        .recipient { margin-left: 7cm; }

        .main h1 {
            margin: 18px 0 18px 0;
            font-size: 250%;
            font-weight: normal;
            color: #4F81BD;
        }

        .main h2 {
            margin: 18px 0 6px 0;
            font-size: 180%;
            font-weight: normal;
        }

        .info { border: 1px solid #4F81BD; padding: 10px; margin-top: 50px; margin-bottom: 50px; }
        .info a { color: #4F81BD; text-decoration: none; }



    </style>
{% endblock %}



{% block content %}


            <p><h1><center>Ordem de Serviço</center></h1></p>


<div class="block block-transparent">
        <div class="block-header">
        </div>
        <div class="block-content">
            <div class="block block-bordered">
                <div class="block-header block-header-default">
                    <span><strong>Empresa :</strong> {% if dados_empresa %} {{ dados_empresa }} {% else %} Todas {% endif %}</span>
                    <table>
                        <thead class="header">
                          <tr>
                              <th></th>
                              <th></th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr></tr>
                        <tr>
                            <td><span><strong>Número: </strong><small>&nbsp;&nbsp;{% if data_lanc_ini  %}{{ data_lanc_ini }} {% endif %}</small></span></td>
                            <td><span><strong>Data: </strong><small>&nbsp;&nbsp;{% if data_lanc_ini  %}{{ data_lanc_ini }} {% endif %}</small></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<div class="block block-transparent">
        <div class="block-header">
        </div>
        <div class="block-content">
            <div class="block block-bordered">
                <div class="block-header block-header-default">
                    <table>
                        <thead class="header">
                          <tr>
                              <th></th>
                              <th></th>
                              <th></th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr></tr>
                        <tr>
                            <td><span><strong>Cliente: </strong><small>&nbsp;&nbsp;{% if data_lanc_ini  %}{{ data_lanc_ini }} {% endif %}</small></span></td>
                            <td><span><strong>Contrato: </strong><small>&nbsp;&nbsp;{% if data_lanc_ini  %}{{ data_lanc_ini }} {% endif %}</small></span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}
