{% extends "base_pdf.html" %}
{% load static widget_tweaks humanize %}
{% block layout_style %}
    <style type="text/css">
         html {
            font-family: "Helvetica", "sans-serif";
            color: #333333;
        }

        p {
            margin: 0 0 6px 0;
            font-size: 11pt;
        }

        table {
            line-height: 140%;
            margin-bottom: 20px;
            border-collapse: collapse;
        }
            table.bordered {
                border-top: 0.1pt solid #999999;
                border-bottom: 0.1pt solid #999999;
            }


            tr, td, th { border: none; }

            th {
                font-size: 10pt;
                border-bottom: 0.1pt solid #999999;
                padding: 3px 0;
                line-height: 1;

                font-weight: bold;
            }

            td {
                font-size: 10pt;
                vertical-align: top;
                padding: 0.5px 0;
            }

            td:last-child { padding-bottom: 0; }

        .text-left { text-align: left; }
        .text-right { text-align: right; }
        .bottom-10 { margin-bottom: 10px; }
        .bottom-20 { margin-bottom: 20px; }



        .header { color: #7f7f7f; }
        .receita { color: #009933; }
        .despesa { color: #e62e00; }
        .ajuste { color: #0101DF; }
        .header p { font-size: 13px; line-height: 1.5em; }
        .header-link { font-weight: bold; text-decoration: none; color: #4F81BD; font-size: 14px; }
        .logo { margin-bottom: 20px; margin-left: -25px; }
        .logo img { zoom: 60%; }

        .recipient { margin-left: 7cm; }

        .main h1 {
            margin: 18px 0 18px 0;
            font-size: 250%;
            font-weight: normal;
            color: #4F81BD;
        }

        .main h2 {
            margin: 18px 0 6px 0;
            font-size: 180%;
            font-weight: normal;
        }

        .info { border: 1px solid #4F81BD; padding: 10px; margin-top: 50px; margin-bottom: 50px; }
        .info a { color: #4F81BD; text-decoration: none; }



    </style>
{% endblock %}



{% block content %}

            <p><center><h6>Nilus - Soluções em informática</h6></center></p>
            <p>
                <h1>DRE Financeiro</h1>
            </p>


<div class="block block-transparent">
        <div class="block-header">
        </div>
        <div class="block-content">
            <div class="block block-bordered">
                                <div class="block-header block-header-default">
                                    <h4 class="block-title header">Filtros utilizados:</h4>
                                    <strong>Empresa :</strong> {% if dados_empresa %} {{ dados_empresa }} {% else %} Todas {% endif %}
                                    <table>
                                    <tbody>
                                    <tr>
                                        <td><span><small><strong>{% if tp_filtro == 'l' %}Lançamento:
                                                                 {% elif tp_filtro == 'v' %}Vencimento:
                                                                 {% elif tp_filtro == 'b' %}Baixa: {% endif %}

                                        </strong></small><small>&nbsp;&nbsp;{% if data_lanc_ini  %}{{ data_lanc_ini }} {% endif %}</small> <small><strong>até :</strong></small> <small>{% if data_lanc_fim %}{{ data_lanc_fim }} {% endif %}</small></small></span></td>
                                    </tr>
                                    </tbody>
                                    </table>
                                </div>


                            </div>
            <table id="rel_lanfinanceiros" class="table table-bordered" >
                <thead class="header">

                    <tr>
                         <th></th>
                         <th>Descrição</th>
                         <th></th>
                         <th> <div class="text-right">Valor</div></th>
                         <th> <div class="text-right">Totais</div></th>
                         <th></th>
                    </tr>
                </thead>
                <tbody>
                    <td></td>
                {% for dre in retorno_dre %}
                                <tbody class="js-table-sections-header">

                                    <tr>
                                        <td class="text-center">
                                            <i class="fa fa-angle-right"></i>
                                        </td>
                                        <td colspan="2">{% if dre.plr_financeiro__grupodre__descricao %}{{ dre.plr_financeiro__grupodre__descricao }} {% else %} Sem Grupo Informado {% endif %}
                                            {% if  dre.plr_financeiro__grupodre__sinal ==  '+' %} <span class="receita text-right">(+)</span> {% elif dre.plr_financeiro__grupodre__sinal ==  '-' %} <span class="despesa text-right">(-)</span> {% endif %}</td>
                                        <td class="text-right">
                                            <strong><em class="{% if dre.plr_financeiro__grupodre__sinal == '-' %} despesa {% elif dre.plr_financeiro__grupodre__sinal == '+' %} receita {% endif %} text-right" >{{ dre.vlr_lancamentos|intcomma }}</em></strong>
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <tbody>
                                {% for filhodre in retorno_planosdre %}
                                    {% if dre.plr_financeiro__grupodre__pk  == filhodre.plr_financeiro__grupodre__pk%}
                                    <tr>
                                        <td class="text-center"></td>
                                        <td class="font-w600"><small>&nbsp;&nbsp;&nbsp;&nbsp;{{ filhodre.plr_financeiro__descricao  }}</small></td>
                                        <td class="font-size-sm"></td>
                                        <td class="text-right">
                                            <small class="text-right {% if  dre.plr_financeiro__grupodre__sinal ==  '+' %} receita {% elif dre.plr_financeiro__grupodre__sinal ==  '-' %} despesa {% endif %}">{{ filhodre.vlr_lancamento|intcomma }}</>
                                        </td>
                                        <td></td>
                                    </tr>
                                {% endif %}

                                {% endfor %}

                                </tbody>
                                {% for sld in saldo_contas_dre %}
                                {% if sld.pk == dre.plr_financeiro__grupodre__pk %}
                                <tr class="table-active" style="border: 28px;">
                                    <td></td>
                                    <td></td>

                                    <td></td>
                                    <td class="text-right"><small>{% if forloop.last %}<strong> Resultado </strong>{% else %} = {% endif %}</small></td>
                                    <td class="text-right">
                                        {% if forloop.last %}
                                        <small{% if  sld.vlr_saldo < 0 %} class="text-danger"{% else %} class="text-success" {% endif %}><strong>{{ sld.vlr_saldo|intcomma }}</strong></span>
                                        {% else %}
                                        <small>{{ sld.vlr_saldo|intcomma }}</small>
                                        {% endif %}
                                    </td>
                                    <td></td>
                                </tr>
                                {% endif %}

                                {% endfor %}
                                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


        <script>
                 $(document).ready(function() {

                 alert('urubu);
                 });

        </script>




{% endblock %}





