{% load static widget_tweaks humanize utils l10n %}



var bar_receita1 = 0;
var bar_receita2 = 0;
var bar_receita3 = 0;
var bar_receita4 = 0;
var bar_receita5 = 0;
var bar_receita6 = 0;

var bar_despesa1 = 0;
var bar_despesa2 = 0;
var bar_despesa3 = 0;
var bar_despesa4 = 0;
var bar_despesa5 = 0;
var bar_despesa6 = 0;


{% if bars_receitas1.vlr_mes != None %} bar_receita1 = {{ bars_receitas1.vlr_mes|unlocalize }}; {% endif %}
{% if bars_receitas2.vlr_mes != None %} bar_receita2 = {{ bars_receitas2.vlr_mes|unlocalize }}; {% endif %}
{% if bars_receitas3.vlr_mes != None %} bar_receita3 = {{ bars_receitas3.vlr_mes|unlocalize }}; {% endif %}
{% if bars_receitas4.vlr_mes != None %} bar_receita4 = {{ bars_receitas4.vlr_mes|unlocalize }}; {% endif %}
{% if bars_receitas5.vlr_mes != None %} bar_receita5 = {{ bars_receitas5.vlr_mes|unlocalize }}; {% endif %}
{% if bars_receitas6.vlr_mes != None %} bar_receita6 = {{ bars_receitas6.vlr_mes|unlocalize }}; {% endif %}


{% if bars_despesas1.vlr_mes != None %} bar_despesa1 = {{ bars_despesas1.vlr_mes|unlocalize }}; {% endif %}
{% if bars_despesas2.vlr_mes != None %} bar_despesa2 = {{ bars_despesas2.vlr_mes|unlocalize }}; {% endif %}
{% if bars_despesas3.vlr_mes != None %} bar_despesa3 = {{ bars_despesas3.vlr_mes|unlocalize }}; {% endif %}
{% if bars_despesas4.vlr_mes != None %} bar_despesa4 = {{ bars_despesas4.vlr_mes|unlocalize }}; {% endif %}
{% if bars_despesas5.vlr_mes != None %} bar_despesa5 = {{ bars_despesas5.vlr_mes|unlocalize }}; {% endif %}
{% if bars_despesas6.vlr_mes != None %} bar_despesa6 = {{ bars_despesas6.vlr_mes|unlocalize }}; {% endif %}


var NilusCharts = function() {


    var initChartsChartJS = function () {
        // Set Global Chart.js configuration
        Chart.defaults.global.defaultFontColor              = '#555555';
        Chart.defaults.scale.gridLines.color                = "rgba(0,0,0,.04)";
        Chart.defaults.scale.gridLines.zeroLineColor        = "rgba(0,0,0,.1)";
        Chart.defaults.scale.ticks.beginAtZero              = false;
        Chart.defaults.global.elements.line.borderWidth     = 1;
        Chart.defaults.global.elements.point.radius         = 5;
        Chart.defaults.global.elements.point.hoverRadius    = 7;
        Chart.defaults.global.tooltips.cornerRadius         = 3;
        Chart.defaults.global.legend.labels.boxWidth        = 12;
        Chart.defaults.global.scaleLabel = function(label){
                        return label.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");};
        Chart.defaults.global.multiTooltipTemplate = function(label){
                        return label.datasetLabel + ': ' + label.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");};



        // Get Chart Containers
        var chartLinesCon  = jQuery('.js-chartjs-lines');

        var chartPieCon    = jQuery('.js-chartjs-pie');
        var chartPieConDesp    = jQuery('.js-chartjs-pie2');

        var chartBarsCon   = jQuery('.js-chartjs-bars');


        // Set Chart and Chart Data variables
        var chartLinesBarsRadarData, chartPolarPieDonutData;
        var chartPolarPieDonutData2, chartLinesBarsRadarData;

        // Lines/Bar/Radar Chart Data

		var dynamicColors = function() {
			var r = Math.floor(Math.random() * 255);
			var g = Math.floor(Math.random() * 255);
			var b = Math.floor(Math.random() * 255);
			return "rgb(" + r + "," + g + "," + b + ")";
		};
        // Polar/Pie/Donut Data
        var chartPolarPieDonutData = {
            labels: [
                {% for despl_rec in planofinan_rec %}
                    '{{ despl_rec.plr_financeiro__descricao }}',
                {% endfor %}
            ],
            datasets: [{
                data: [
                    {% for despl_rec in planofinan_rec %}
                        {{ despl_rec.valor_plano|unlocalize }},
                    {% endfor %}
                ],

                backgroundColor: [
                    {% for despl_rec in planofinan_rec  %}
                    dynamicColors(),
                    {% endfor %}
                ],
                hoverBackgroundColor: [
                    'rgba(156,204,101,.5)',
                    'rgba(255,202,40,.5)',
                    'rgba(239,83,80,.5)'
                ]
            }]
        };


        var chartPolarPieDonutData2 = {
            labels: [
                {% for despl_desp in planofinan_desp %}
                    '{{ despl_desp.plr_financeiro__descricao }}',
                {% endfor %}
            ],
            datasets: [{
                data: [
                    {% for despl_desp in planofinan_desp %}
                        {{ despl_desp.valor_plano|unlocalize }},
                    {% endfor %}
                ],

                backgroundColor: [
                    {% for despl_desp in planofinan_desp  %}
                    dynamicColors(),
                    {% endfor %}
                ],
                hoverBackgroundColor: [
                    'rgba(156,204,101,.5)',
                    'rgba(255,202,40,.5)',
                    'rgba(239,83,80,.5)'
                ]
            }]
        };


        var chartLinesBarsRadarData = {
            labels: [
                     {% for b in barras %}
                        '{{ b.mes_range|date:"M/y" }}',
                    {% endfor %}
                    ],
            datasets: [
                {
                    label: 'Receitas',
                    fill: true,
                    backgroundColor: 'rgba(39, 92, 68, 0.9)',
                    borderColor: 'rgba(39, 92, 68, 2.1)',
                    pointBackgroundColor: 'rgba(66,165,245,1)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgba(66,165,245,1)',
                    data: [
                          {% for b in barras %}
                                {% if b.bars_receitas == None %}
                                    0
                                {% else %}
                                    {{ b.bars_receitas|unlocalize }}
                                {% endif %},
                          {% endfor %}
                    ]
                },
                {
                    label: 'Despesas',
                    fill: true,
                    backgroundColor: 'rgba(202, 69, 62, 0.9)',
                    borderColor: 'rgba(202, 69, 62, 2.1)',
                    pointBackgroundColor: 'rgba(66,165,245,1)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgba(66,165,245,1)',
                    data: [
                            {% for b in barras %}
                                {% if b.bars_despesas == None %}
                                    0
                                {% else %}
                                    {{ b.bars_despesas|unlocalize }}
                                {% endif %},
                          {% endfor %}
                    ]
                }
            ]
        };



        // Init Charts

        if ( chartPieCon.length ) {
            chartPie   = new Chart(chartPieCon, { type: 'pie', data: chartPolarPieDonutData });
        }

        if ( chartPieConDesp.length ) {
            chartPie   = new Chart(chartPieConDesp, { type: 'pie', data: chartPolarPieDonutData2 });
        }

        if ( chartBarsCon.length ) {
            chartBars  = new Chart(chartBarsCon, { type: 'bar', data: chartLinesBarsRadarData });
        }
    };



    return {
        init: function () {
            // Init Chart.js Charts
            initChartsChartJS();
        }
    };
}();

// Initialize when page loads
jQuery(function(){ NilusCharts.init(); });