{% load static widget_tweaks %}
<!doctype html>
<!--[if lte IE 9]>     <html lang="en" class="no-focus lt-ie10 lt-ie10-msg"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

        <title>Nilus - Soluções para o Agronegócio &amp; Versão WEB</title>

        <meta name="description" content="Nilus - Soluções para o Agronegócio &amp; Versão WEB">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">

        <!-- Open Graph Meta -->
        <meta property="og:title" content="Nilus - Soluções para o Agronegócio &amp; Versão WEB">
        <meta property="og:site_name" content="Nilus">
        <meta property="og:description" content="Nilus - Soluções para o Agronegócio &amp; Versão WEB">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="{% static 'assets/img/favicons/favicon.png' %}">
        <link rel="icon" type="image/png" sizes="192x192" href="{% static 'assets/img/favicons/favicon.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/favicon.png' %}">

        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Codebase framework -->
        <link rel="stylesheet" id="css-main" href="{% static 'assets/css/codebase.min.css' %}">
        <link rel="stylesheet" id="css-theme" href="{% static 'assets/css/themes/flat.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/js/plugins/datatables/dataTables.bootstrap4.min.css' %}">
        <link href="{% static 'assets/plugins/sweetalert/sweetalert.css' %}" rel="stylesheet">
        <link href="{% static 'assets/plugins/table_header_fixed/tb_header_fixed.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}">




        <link href="{% static 'assets/css/css_chosen.css' %}" rel="stylesheet">





        <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
        <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
        <!-- END Stylesheets -->
    </head>
    <body>
        <!-- Page Container -->
        <!--
            Available classes for #page-container:

        GENERIC

            'enable-cookies'                            Remembers active color theme between pages (when set through color theme helper Codebase() -> uiHandleTheme())

        SIDEBAR & SIDE OVERLAY

            'sidebar-r'                                 Right Sidebar and left Side Overlay (default is left Sidebar and right Side Overlay)
            'sidebar-mini'                              Mini hoverable Sidebar (screen width > 991px)
            'sidebar-o'                                 Visible Sidebar by default (screen width > 991px)
            'sidebar-o-xs'                              Visible Sidebar by default (screen width < 992px)
            'sidebar-inverse'                           Dark themed sidebar

            'side-overlay-hover'                        Hoverable Side Overlay (screen width > 991px)
            'side-overlay-o'                            Visible Side Overlay by default

            'side-scroll'                               Enables custom scrolling on Sidebar and Side Overlay instead of native scrolling (screen width > 991px)

        HEADER

            ''                                          Static Header if no class is added
            'page-header-fixed'                         Fixed Header

        HEADER STYLE

            ''                                          Classic Header style if no class is added
            'page-header-modern'                        Modern Header style
            'page-header-inverse'                       Dark themed Header (works only with classic Header style)
            'page-header-glass'                         Light themed Header with transparency by default
                                                        (absolute position, perfect for light images underneath - solid light background on scroll if the Header is also set as fixed)
            'page-header-glass page-header-inverse'     Dark themed Header with transparency by default
                                                        (absolute position, perfect for dark images underneath - solid dark background on scroll if the Header is also set as fixed)

        MAIN CONTENT LAYOUT

            ''                                          Full width Main Content if no class is added
            'main-content-boxed'                        Full width Main Content with a specific maximum width (screen width > 1200px)
            'main-content-narrow'                       Full width Main Content with a percentage width (screen width > 1200px)
        -->
        <div id="page-container" class="sidebar-o side-scroll page-header-fixed page-header-glass main-content-boxed">
            <!-- Side Overlay-->

            <!-- END Side Overlay -->

            <!-- Sidebar -->
            <!--
                Helper classes

                Adding .sidebar-mini-hide to an element will make it invisible (opacity: 0) when the sidebar is in mini mode
                Adding .sidebar-mini-show to an element will make it visible (opacity: 1) when the sidebar is in mini mode
                    If you would like to disable the transition, just add the .sidebar-mini-notrans along with one of the previous 2 classes

                Adding .sidebar-mini-hidden to an element will hide it when the sidebar is in mini mode
                Adding .sidebar-mini-visible to an element will show it only when the sidebar is in mini mode
                    - use .sidebar-mini-visible-b if you would like to be a block when visible (display: block)
            -->
            <nav id="sidebar">
                <!-- Sidebar Scroll Container -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <div class="sidebar-content">
                        <!-- Side Header -->
                        <div class="content-header content-header-fullrow px-15">
                            <!-- Normal Mode -->
                            <div class="content-header-section text-center align-parent sidebar-mini-hidden">
                                <!-- Close Sidebar, Visible only on mobile screens -->
                                <!-- Layout API, functionality initialized in Codebase() -> uiApiLayout() -->

                                <!-- END Close Sidebar -->

                                <!-- Logo -->
                                <div class="content-header-item">
                                    <a href="{% url 'principal' %}">

                                        <img src="{% static 'assets/img/favicons/favicon.png' %}"  height="50" width="50" class="dark-logo" />
                                    </a>
                                </div>
                                <!-- END Logo -->
                            </div>
                            <!-- END Normal Mode -->
                        </div>
                        <!-- END Side Header -->

                        <!-- Side User -->

                        <!-- END Side User -->

                        <!-- Side Navigation MJC>>MENU LATERAL -->
                        <div class="content-side content-side-full">
                            <ul class="nav-main">
                                {% if user.is_masteruser == True %}
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-lock"></i><span class="sidebar-mini-hide">Administração</span></a>
                                    <ul>
                                        <li>
                                            <a href="{% url 'users_viewers_list' %}">Usuários/Permissões</a>
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}
                                {% if permissions.nilusCadastro == True %}
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-puzzle"></i><span class="sidebar-mini-hide">Cadastros</span></a>
                                    <ul>
                                        <li>
                                            <a href="{% url 'company_list' %}">Empresas</a>
                                            <a href="{% url 'propriety_list' %}">Propriedades</a>
                                            <a href="{% url 'cadgeral_list' %}">Fornecedores/Clientes</a>
                                            {% if permissions.nilusFinanceiro == True %}
                                            <a href="{% url 'conta_list' %}">Contas Financeiras</a>
                                            <a href="{% url 'planofinan_list' %}"> Plano Financeiro</a>
                                            <a href="{% url 'ccusto_list' %}"> Centro de Custo</a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </li>
                                {% endif %}
                                {% if permissions.nilusFinanceiro == True %}
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-wallet"></i><span class="sidebar-mini-hide">Financeiro</span></a>
                                    <ul>
                                        <li>
                                            <a  href="{% url 'indice_list' %}">Indices e Cotações</a>
                                            <a href="be_pages_dashboard.html">Lançamentos</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            {% endif %}
                        </div>
                        <!-- END Side Navigation -->
                    </div>
                    <!-- Sidebar Content -->
                </div>
                <!-- END Sidebar Scroll Container -->
            </nav>
            <!-- END Sidebar -->

            <!-- Header -->
            <header id="page-header">
                <!-- Header Content -->
                <div class="content-header">
                    <!-- Left Section -->
                    <div class="content-header-section">

                        <button type="button" class="btn btn-circle btn-dual-secondary" data-toggle="layout" data-action="sidebar_toggle">
                            <i class="fa fa-navicon"></i>
                        </button>

                    </div>
                    <!-- END Left Section -->

                    <!-- Right Section -->
                    <div class="content-header-section">
                        <!-- User Dropdown -->
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-rounded btn-dual-secondary" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.name }}<i class="fa fa-angle-down ml-5"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right min-width-150" aria-labelledby="page-header-user-dropdown">
                                <a class="dropdown-item" href="be_pages_generic_profile.html">
                                    <i class="si si-user mr-5"></i> Perfil
                                </a>
                                <div class="dropdown-divider"></div>

                                <!-- Toggle Side Overlay -->
                                <!-- Layout API, functionality initialized in Codebase() -> uiApiLayout() -->
                                <a class="dropdown-item" href="javascript:void(0)" data-toggle="layout" data-action="side_overlay_toggle">
                                    <i class="si si-wrench mr-5"></i> Configurações
                                </a>
                                <!-- END Side Overlay -->

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">
                                    <i class="si si-logout mr-5"></i> Sair
                                </a>
                            </div>
                        </div>
                        <!-- END User Dropdown -->

                        <!-- Toggle Side Overlay -->
                        <!-- Layout API, functionality initialized in Codebase() -> uiApiLayout() -->

                        <!-- END Toggle Side Overlay -->
                    </div>
                    <!-- END Right Section -->
                </div>
                <!-- END Header Content -->

                <!-- Header Search -->


                <!-- Header Loader -->
                <!-- Please check out the Activity page under Elements category to see examples of showing/hiding it -->
                <div id="page-header-loader" class="overlay-header bg-primary">
                    <div class="content-header content-header-fullrow text-center">
                        <div class="content-header-item">
                            <i class="fa fa-sun-o fa-spin text-white"></i>
                        </div>
                    </div>
                </div>
                <!-- END Header Loader -->
            </header>
            <!-- END Header -->

            <!-- Main Container -->
            <main id="main-container">
                <!-- Page Content -->
                <div class="content">
                    <h2 class="content-heading">{% block title %} {% endblock %}</h2>

                    <!-- Layout API, functionality initialized in Codebase() -> uiApiLayout() -->

                    <div class="block">
                        <div class="block-content block-content-full">
                            {% block page_body %} {% endblock %}
                        </div>
                    </div>
                    <!-- END Layout API -->
                </div>
                <!-- END Page Content -->
            </main>
            <!-- END Main Container -->

            <!-- Footer -->
            <footer id="page-footer" class="opacity-0">
                <div class="content py-20 font-size-xs clearfix">
                    <div class="float-right">
                        Crafted with <i class="fa fa-angellist text-pulse"></i> by <a class="font-w600" href="" target="_blank">mjcDEV</a>
                    </div>
                    <div class="float-left">
                        <a class="font-w600" href="" target="_blank">NilusWEB 1.0</a> &copy; <span class="js-year-copy">2017</span>
                    </div>
                </div>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Page Container -->

        <!-- Codebase Core JS -->
        <script src="{% static  'assets/js/core/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/core/jquery.slimscroll.min.js' %}"></script>
        <script src="{% static 'assets/js/core/jquery.scrollLock.min.js' %}"></script>
        <script src="{% static 'assets/js/core/jquery.appear.min.js' %}"></script>
        <script src="{% static 'assets/js/core/jquery.countTo.min.js' %}"></script>
        <script src="{% static 'assets/js/core/js.cookie.min.js' %}"></script>
        <script src="{% static 'assets/js/codebase.js' %}"></script>
        <script src="{% static 'assets/js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
        <script src="{% static 'assets/plugins/sweetalert/sweetalert.min.js' %}"></script>

        <script src="{% static 'assets/plugins/chosen/chosen_js_mjc.js' %}"></script>
        <script src="{% static 'assets/plugins/mask/jquery.mask.js' %}"></script>

        <script src="{% static 'assets/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
        <script src="{% static 'assets/plugins/dinmoney-datepicker/locales/bootstrap-datepicker.pt-BR.min.js' %}"></script>





        <script>
                 $(document).ready(function() {
                  {% block javascript %}
                  {% endblock %}
                 });

        </script>

    </body>

</html>


