{% load static widget_tweaks humanize %}


$(".new_cadgeral").on("click",function(e){
    e.preventDefault();

    $("#modal-cadgeral .block-content").load("{% url 'create_cadgeral' %}", function(){
          $('.titulo_modal').text("Inclusão de Cadastro");
          $('#modal-cadgeral').modal("show");
          $(".btn_busca").hide();
          $("#id_cnpj_cpf").focus();
          $("#modal-cadgeral .cancel_form").hide();
          $("#modal-cadgeral .titulo_form").hide();


          {% include 'js_floating_labels.html' %}
          {% include 'js_tabs.html' %}
          {% include 'js_pesquisas_cnpj_cep.html' %}
          {% include 'js_masks.html' %}

          $(".cancel").on("click",function(e){
                   $("#form_create").hide();
          });
    });
});


$("#modal-cadgeral .block-content").on("submit","form",function(e){
	 	 e.preventDefault();
	 	 var dados = $(this).serialize();
	 	 $.post("{% url 'create_cadgeral' %}",dados,function(result){
	 	    $("#modal-cadgeral .block-content").html(result);
            var cad_ok = $('#cad_ok').val();
            var id_cliente = $('#id_cliente').val();
            var nome_cliente = $('#nome_cliente').val();
	 	    if(cad_ok=='ok'){
	 	       $('#modal-cadgeral').modal("hide");
               $('#cadgeral_id2').append("<option value='" + id_cliente + "'>"+ nome_cliente + "</option>");
			   $('#cadgeral_id2').val(id_cliente);
			   $('#cadgeral_id2').trigger('chosen:updated');
	 	    }
	 	    else{
	 	        $('#modal-cadgeral').modal("show");
                {% include 'js_floating_labels.html' %}
                {% include 'js_tabs.html' %}
                {% include 'js_pesquisas_cnpj_cep.html' %}
                {% include 'js_masks.html' %}
	 	    }
	 	 });
	 });



$(".new_conta").on("click",function(e){
        e.preventDefault();
        $("#modal-conta .block-content").load("{% url 'create_conta' %}", function(){
          $('.titulo_modal').text("Incluir Conta");
          $('#modal-conta').modal("show");
          $('.vlr_limite').hide();
          $('.conta_bancaria').hide();
          $("#modal-conta .cancel_form").hide();
          $("#modal-conta .titulo_form").hide();

          {% include 'js_floating_labels.html' %}

          $("#modal-conta").on("change", "#id_usa_limite", function(e){
            if ($(this).is(":checked")){
                $(".vlr_limite").show();
            }
            else {
                $(".vlr_limite").hide();
            }
         });

          $("#modal-conta").on("change", "#id_conta_bancaria", function(e){
            if ($(this).is(":checked")){
                $(".conta_bancaria").show();
            }
            else {
                $(".conta_bancaria").hide();
            }
         });

        });

});




$("#modal-conta .block-content").on("submit","form",function(e){
	 	 e.preventDefault();
	 	 var dados = $(this).serialize();
	 	 $.post("{% url 'create_conta' %}",dados,function(result){
	 	    $("#modal-conta .block-content").html(result);
	 	    if(close_modal==true){
	 	       $('#modal-conta').modal("hide");
               $('#id_conta_finan2').append("<option value='" + id_conta + "'>"+ conta + "</option>");
			   $('#id_conta_finan2').val(id_conta);
			   $('#id_conta_finan2').trigger('chosen:updated');
	 	    }
	 	    else{
	 	       $('#modal-conta').modal("show");
               {% include 'js_floating_labels.html' %}
	 	    }
	 	 });
	 });


$(".new_planofinan").on("click",function(e){
        e.preventDefault();
        $("#modal-planofinan .block-content").load("{% url 'create_planofinan' %}", function(){
          $('.titulo_modal').text("Incluir Plano Financeiro");
          $('#modal-planofinan').modal("show");
          $('.chosen-select').chosen({ width: '100%' });
          $("#modal-planofinan .cancel_form").hide();
          $("#modal-planofinan .titulo_form").hide();

          {% include 'js_floating_labels.html' %}
        });

});


$("#modal-planofinan .block-content").on("submit","form",function(e){
     e.preventDefault();
     var dados = $(this).serialize();
     $.post("{% url 'create_planofinan' %}",dados,function(result){
        $("#modal-planofinan .block-content").html(result);
        if(close_modal==true){
           $('#modal-planofinan').modal("hide");
           $('#id_plr_financeiro').append("<option value='" + id_planofinan + "'>"+ descricao + "</option>");
           $('#id_plr_financeiro').val(id_planofinan);
           $('#id_plr_financeiro').trigger('chosen:updated');
        }
        else{
           $('#modal-planofinan').modal("show");
           {% include 'js_floating_labels.html' %}
        }
     });
 });



$(".new_ccusto").on("click",function(e){
    e.preventDefault();
    $("#modal-ccusto .block-content").load("{% url 'create_ccusto' %}", function(){
      $('.titulo_modal').text("Incluir Centro de Custo");
      $('#modal-ccusto').modal("show");
      $('.chosen-select').chosen({ width: '100%' });
      $("#modal-ccusto .cancel_form").hide();
      $("#modal-ccusto .titulo_form").hide();

      {% include 'js_floating_labels.html' %}
    });
});


$("#modal-ccusto .block-content").on("submit","form",function(e){
     e.preventDefault();
     var dados = $(this).serialize();
     $.post("{% url 'create_ccusto' %}",dados,function(result){
        $("#modal-ccusto .block-content").html(result);
        if(close_modal==true){
           $('#modal-ccusto').modal("hide");
           $('#c_custo_id2').append("<option value='" + id_ccusto + "'>"+ ccusto + "</option>");
		   $('#c_custo_id2').val(id_ccusto);
		   $('#c_custo_id2').trigger('chosen:updated');        }
        else{
           $('#modal-ccusto').modal("show");
           {% include 'js_floating_labels.html' %}
        }
     });
 });



$(".new_indice").on("click",function(e){
    e.preventDefault();
    $("#modal-indice .block-content").load("{% url 'create_indice_lancto' %}", function(){
      $('.titulo_modal').text("Incluir Indice");
      $('#modal-indice').modal("show");
      $('.chosen-select').chosen({ width: '100%' });
      $("#modal-indice .cancel_form").hide();
      $("#modal-indice .titulo_form").hide();

      {% include 'js_floating_labels.html' %}
    });
});


$("#modal-indice .block-content").on("submit","form",function(e){
     e.preventDefault();
     var dados = $(this).serialize();
     $.post("{% url 'create_indice_lancto' %}",dados,function(result){
        $("#modal-indice .block-content").html(result);
            var cad_ok = $('#cad_ok').val();
            var id_indice = $('#id_ind').val();
            var descricao = $('#descricao').val();
        if(cad_ok=='ok'){
           $('#modal-indice').modal("hide");
           $('#id_indice').append("<option value='" + id_indice + "'>"+ descricao + "</option>");
           $('#id_cotacao').append("<option value='0'></option>");
		   $('#id_indice').val(id_indice);
		   $('#id_indice').trigger('chosen:updated');
           $('#id_cotacao').trigger('chosen:updated');
        }
        else{
           $('#modal-indice').modal("show");
        }
     });
 });



$(".new_cotacao").on("click",function(e){
    e.preventDefault();
    $("#modal-cotacao .block-content").load("{% url 'create_cotacao_grid_indice' %}", function(){
      $('.titulo_modal').text("Incluir Cotação");
      $('#modal-cotacao').modal("show");
      $('.chosen-select').chosen({ width: '100%' });
      $("#modal-cotacao .cancel_form").hide();
      $("#modal-cotacao .titulo_form").hide();
      {% include 'js_floating_labels.html' %}
                    $(".js-datepicker").datepicker({
                            todayBtn: true,
                            language: "pt-BR",
                            autoclose: true,
                            todayHighlight: true
                    });

      {% include 'js_floating_labels.html' %}
    });
});


$("#modal-cotacao .block-content").on("submit","form",function(e){
     e.preventDefault();
     var dados = $(this).serialize();
     $.post("{% url 'create_cotacao_grid_indice' %}",dados,function(result){
        $("#modal-indice .block-content").html(result);
            var cad_ok = $('#cad_ok').val();
            var id_cotacao = $('#id_cotacao_form').val();
            var descricao = $('#descricao').val();
            var indice_cot = $('#indice_cot').val();
            var indice_cot_pk = $('#indice_cot_pk').val();
        if(cad_ok=='ok'){
           $('#modal-cotacao').modal("hide");
           $('#id_cotacao').append("<option value='" + id_cotacao + "'>"+ descricao + "</option>");
           $('#id_indice').append("<option value='" + indice_cot_pk + "'>"+ indice_cot + "</option>");
		   $('#id_cotacao').val(id_cotacao);
           $('#id_indice').val(indice_cot_pk);
		   $('#id_cotacao').trigger('chosen:updated');
           $('#id_indice').trigger('chosen:updated');
        }
        else{
           $('#modal-cotacao').modal("show");
        }
     });
 });
