$('.tb_body_talhao_create_form').on('click','.delete_talhao',function(e){
  e.preventDefault();
  var $this = $(this);
  if(confirm('Deseja excluir este Talhão?')){

      $.get($(this).attr('href'),function(data){
         $this.closest('tr').remove();
        });
    }
});



$('.tb_body_talhao_edit_form').on('click','.delete_talhao',function(e){
  e.preventDefault();
  var $this = $(this);
  if(confirm('Deseja excluir este Talhão?')){

      $.get($(this).attr('href'),function(data){
         $this.closest('tr').remove();
        });
    }
});



$('.tb_body_cotacao_create_form').on('click','.delete_cotacao',function(e){
  e.preventDefault();
  var $this = $(this);
  if(confirm('Deseja excluir esta Cotação?')){

      $.get($(this).attr('href'),function(data){
         $this.closest('tr').remove();
        });
    }
});



$('.tb_body_cotacao_edit_form').on('click','.delete_cotacao',function(e){
  e.preventDefault();
  var $this = $(this);
  if(confirm('Deseja excluir esta Cotaçao?')){

      $.get($(this).attr('href'),function(data){
         $this.closest('tr').remove();
        });
    }
});



$('#tabela_movimentacoes').on('click','.delete_movto',function(e){
  e.preventDefault();
  var $this = $(this);
  if(confirm('Ao excluir movimentos o saldo do lançamento será recomposto, deseja continuar?')){

      $.get($(this).attr('href'),function(data){
         $this.closest('tr').hide();
        });
    }
});