{% extends "base.html" %}
{% load static widget_tweaks %}


{% block body %}
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                 <li class="nav-devider"></li>
                <li class="nav-small-cap">MÓDULOS</li>
                {% if user.is_masteruser == True %}
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-desktop-mac"></i><span class="hide-menu"> Administrativo</span></a>
                    <ul aria-expanded="" class="collapse">
                        <li><a href="{% url 'users_viewers_list' %}"><i class="mdi mdi-account-key"></i> Usuarios/Permissoes</a></li>
                    </ul>
                </li>

                {% endif %}
                 {% if permissions.nilusCadastro == True %}
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-book-open-page-variant"></i><span class="hide-menu"> Cadastros</span></a>
                    <ul aria-expanded="" class="collapse">
                        <li><a href="{% url 'company_list' %}"><i class="mdi mdi-home"></i> Empresas</a></li>
                        <li><a href="{% url 'propriety_list' %}"><i class="mdi mdi-image-filter-hdr"></i> Propriedades</a></li>
                        <li><a href="{% url 'cadgeral_list' %}"><i class="fa  fa-folder-o"></i> Fornecedores/Clientes</a></li>
                        <li><a href="{% url 'ccusto_list' %}"><i class="fa  fa-tasks"></i> Centro de Custo</a></li>
                        <li><a href="{% url 'planofinan_list' %}"><i class="fa  fa-money"></i> Plano Financeiro</a></li>

                    </ul>
                </li>

                {% endif %}

                {% if permissions.nilusFinanceiro == True %}
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-currency-usd"></i><span class="hide-menu"> Financeiro</span></a>
                    <ul aria-expanded="" class="collapse">
                        <li><a  href="{% url 'conta_list' %}"><i class="mdi mdi-bank"></i> Conta</a></li>
                        <li><a  href="{% url 'indice_list' %}"><i class="fa  fa-money"></i> Indices e Cotações</a></li>
                        <li><a  href="{% url 'lancfin_list' %}"><i class="fa fa-book"></i> Lançamentos</a></li>
                        <li><a  href="{% url 'baixfin_list' %}"><i class="fa fa-book"></i> Baixas de Lançamentos</a></li>
                        <li><a  href="{% url 'dre_list' %}"><i class="fa fa-book"></i> Consulta DRE</a></li>
                    </ul>
                </li>

                {% endif %}


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<div class="page-wrapper">
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">{% block title_page %} {% endblock %}</h3>
    </div>
</div>
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-12">

                   {% block page_body %} {% endblock %}

<div id="modal-config_conta" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Configurações da Conta</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




        </div>
    </div>

</div>
{% endblock %}
