{% load static widget_tweaks %}
{% if success %}
   <script>
	   close_modal=true;
   </script>
{% else %}
<div class="block">
    <div class="block block-themed block-rounded">
                 <div class="block-header bg-flat-dark">
                    <h3 class="block-title">Alterar Indice: {{ dados_cadastro.num_indice }} - {{ dados_cadastro.descricao }}</h3>
                </div>
    <ul class="nav nav-tabs nav-tabs-alt" data-toggle="tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#aba_principal_edit">Indice</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#aba_cotacao_edit">Cotações</a>
        </li>
    </ul>

    <form method="post" class="form_indice" id="form_edit"  enctype="multipart/form-data" action="{% url 'edit_indice' object.pk %}">
             {% csrf_token %}
                {% for error in form.non_field_errors %}
                <div class="alert-danger alert">
                {{ error }}
                </div>
                {% endfor %}
             <div class="block-content tab-content">
                <div class="tab-pane active" id="aba_principal_edit" role="tabpanel">
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="form-material floating input-group">
                                {% render_field  form.descricao class='form-control' %}
                                <label for="{{  form.descricao.id }}">Descrição</label>
                            </div>
                                {% for error in form.descricao.errors %}
                                <div class="alert alert-danger alert-dismissable">{{ error }}</div>
                                {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                       <div class="col-md-6">
                            <div class="form-material floating retorno_busca">
                                {% render_field  form.simbolo class='form-control' %}
                                <label for="{{  form.simbolo.id }}">Símbolo</label>
                                {% for error in form.simbolo.errors %}
                                <div class="alert alert-danger alert-dismissable">
                                    <p class="mb-0">{{ error }}</p>
                                </div>
                                {% endfor %}
                            </div>
                       </div>
                </div>
             </div>
             <div class="tab-pane" id="aba_cotacao_edit" role="tabpanel">
                <div class="form-group row ">
                    <div>
                        <br>
                        <div class="row">
                                <div class="col-md-5"></div>
                                <button type="button" class="btn btn-sm btn-outline-primary mb-10 pull-right new_cotacao" id="new_cotacao">
                                    <i class="fa fa-plus mr-5"></i> Cadastrar Cotações
                                </button>
                            </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-7">
                        <div class="block-header ribbon ribbon-info ribbon-left">
                            <div class="ribbon-box apos_insert">Data Cotação / Valor</div>
                                <div class="row">
                                    <div class="tabela_formulario">
                                        <table class="table">
                                            <thead>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </thead>
                                            <tbody class="tb_body_cotacao_edit_form">
                                            {% for cot in cotacoes %}
                                            <tr>
                                                <td><small>{{ cot.data_indice|date:'d/m/Y'  }}</small></td>
                                                <td><small>{{ cot.valor_cotacao }}</small></td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-outline-danger delete_cotacao" data-toggle="tooltip" data-placement="bottom" title="Excluir" href="{% url 'delete_cotacao' cot.pk  %}"><i class='fa fa-trash'></i></button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
             </div>
           </div>
           <div class="row">

           </div>
          <br>
          <br>
         <div class="form-group row ">

                <button type="submit" class="btn btn-alt-primary">Salvar</button>
                <button type="button"  class="btn btn-alt-secondary  cancel_form">Cancelar</button>
         </div>
    </form>
    </div>

</div>
{% endif %}