{% load static widget_tweaks humanize utils %}

            <div class="block col-xl-12">
                        <div class="block-header block-header-default">
                        </div>
                        <div class="block-content">
                            <table class="js-table-sections table table-hover">
                                <thead>
                                    <tr>
                                        <th style="width: 30px;"></th>
                                        <th>Descrição</th>
                                        <th style="width: 15%;"></th>
                                        <th class="d-none d-sm-table-cell text-right">Valor</th>
                                        <th class="text-right">Totais</th>
                                    </tr>
                                </thead>
                                {% for dre in retorno_dre %}
                                <tbody class="js-table-sections-header">
                                    <tr>
                                        <td class="text-center">
                                            <i class="fa fa-angle-right"></i>
                                        </td>
                                        <td class="font-w600">{% if dre.plr_financeiro__grupodre__descricao %}{{ dre.plr_financeiro__grupodre__descricao }} {% else %} Sem Grupo Informado {% endif %}
                                            {% if  dre.plr_financeiro__grupodre__sinal ==  '+' %} <span class="text-success">(+)</span> {% elif dre.plr_financeiro__grupodre__sinal ==  '-' %} <span class="text-danger">(-)</span> {% endif %}</td>
                                        <td>
                                        </td>
                                        <td class="d-none d-sm-table-cell text-right">
                                            <strong><em class="{% if dre.plr_financeiro__grupodre__sinal == '-' %} text-danger {% elif dre.plr_financeiro__grupodre__sinal == '+' %} text-success {% endif %}" >{{ dre.vlr_lancamentos|intcomma }}</em></strong>
                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    {% for filhodre in retorono_planosdre %}
                                    {% if dre.plr_financeiro__grupodre__pk  == filhodre.plr_financeiro__grupodre__pk%}
                                    <tr>
                                        <td class="text-center"></td>
                                        <td class="font-w600"><small>{{ filhodre.plr_financeiro__descricao  }}</small></td>
                                        <td class="font-size-sm"></td>
                                        <td class="d-none d-sm-table-cell text-right">
                                            <strong><span class="font-size-sm {% if  dre.plr_financeiro__grupodre__sinal ==  '+' %} text-success {% elif dre.plr_financeiro__grupodre__sinal ==  '-' %} text-danger {% endif %} valor_plano">{{ filhodre.vlr_lancamento|intcomma }}</span></strong>
                                        </td>
                                        <td></td>
                                    </tr>
                                    {% endif %}

                                    {% endfor %}
                                </tbody>
                                {% for sld in saldo_contas_dre %}
                                {% if sld.pk == dre.plr_financeiro__grupodre__pk %}
                                <tr class="table-active">
                                    <td class="text-center">
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td><span class="text-right ">{% if forloop.last %}<strong> Resultado no período </strong>{% else %} = {% endif %}</span></td>
                                    <td class="d-none d-sm-table-cell text-right">
                                        {% if forloop.last %}
                                        <span{% if  sld.vlr_saldo < 0 %} class="text-danger"{% else %} class="text-success" {% endif %}><strong>{{ sld.vlr_saldo|intcomma }}</strong></span>
                                        {% else %}
                                        <span>{{ sld.vlr_saldo|intcomma }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endif %}

                                {% endfor %}
                                {% endfor%}

                            </table>
                        </div>
                    </div>
