{% load static widget_tweaks humanize %}
{% if success %}
   <script>
  	  close_form=true;
  	  data_cotacao = "{{ form.instance.data_indice|date:'d/m/Y' }}";
	  valor = '{{ form.instance.valor_cotacao  }}';
	  pk = {{ form.instance.pk }};
	  url = '{% url 'delete_cotacao' form.instance.pk %}';
   </script>
{% else %}
<form class="form-horizontal" name="form_cotacao" id="form_cotacao_create">
    {% csrf_token %}
    <div class="form-group">
        <div class="form-material floating">
            {% render_field  form.data_indice class='js-datepicker form-control' data-week-start="1" data-autoclose="true" data-today-highlight="true" data-date-format="dd/mm/yyyy" %}
            <label for="{{  form.data_indice.id }}">Data Cotação</label>
            {% for error in form.data_indice.errors %}
            <div class="alert alert-danger alert-dismissable">
                <p class="mb-0">{{ error }}</p>
            </div>
            {% endfor %}
        </div>

        <div class="form-material floating">
            {% render_field  form.valor_cotacao_text class='form-control money2' %}
            <label for="{{  form.valor_cotacao_text.id }}">Valor Cotação</label>
            {% for error in form.valor_cotacao_text.errors %}
            <div class="alert alert-danger alert-dismissable">
                <p class="mb-0">{{ error }}</p>
            </div>
            {% endfor %}
        </div>
    <br>

        <button type="submit" class="btn btn-alt-primary">Salvar</button>


    </div>

</form>
{% endif %}