    <table id="tabela_indice" class="table table-bordered table-striped table-vcenter js-dataTable-full">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Indice</th>
                        <th>Simbolo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for in in indice %}
                    <tr>
                        <td><small>{{ in.num_indice }}</small></td>
                        <td><small>{{ in.descricao }}</small></td>
                        <td><small>{{ in.simbolo }}</small></td>
                        <td><a class="btn btn-info btn list_cotacao" title="Indices " href="{% url 'cotacao_list' in.pk  %}"><i class="fa fa-exclamation"></i><small> Cotações</small></a>
                            <a class="btn btn-danger btn delete_registro" title="Excluir " href="{% url 'delete_indice' in.pk %}"><i class="fa fa-trash-o"></i><small> Excluir</small></a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>