    <table id="tabela_indice" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width:20px;">Cód</th>
                        <th>Indice</th>
                        <th style="width:30px;">Símbolo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for in in indice %}
                    <tr>
                        <td>{{ in.num_indice }}</td>
                        <td>{{ in.descricao }}</td>
                        <td>{{ in.simbolo }}</td>
                        <td>
                            <div class="pull-right">
                             <button type="button" class="btn btn-sm btn-outline-secondary edit_indice"  href="{% url 'edit_indice' in.pk  %}" data-toggle="tooltip" data-placement="bottom" title="Editar">
                                <i class="fa fa-pencil"></i>
                             </button>
                             <button type="button" class="btn btn-sm btn-outline-danger delete_indice"  href="{% url 'delete_indice' in.pk  %}" data-toggle="tooltip" data-placement="bottom" title="Excluir">
                                <i class="fa fa-trash-o"></i>
                             </button>
                             <button type="button" class="btn btn-sm btn-outline-info lista_cotacoes"  href="{% url 'cotacao_list' in.pk  %}" data-toggle="tooltip" data-placement="bottom" title="Visualizar Cotações">
                                 <i class="si si-layers"></i>
                             </button>
                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>