{% extends "menu.html" %}
{% load static widget_tweaks humanize %}



<!-- Bread crumb and right sidebar toggle -->
{% block title %} Cadastro de Contas (Caixa e Banco) {% endblock %}

{% block page_body %}

<div class="block">
    <div class="block-content">
        <div class="block">
            <div class="block-content">
                <div class="row  btn-insert">
                <button type="button" class="btn btn-outline-primary mr-5 mb-5 btn_opcoes   new_conta pull-right" data-toggle="tooltip" data-placement="bottom" title="Nova Conta">
                         <i class="fa fa-plus"></i>
                </button>
            <button type="button" class="btn btn-outline-secondary mr-5 mb-5   btn_opcoes ajc_conta pull-right" data-toggle="tooltip" data-placement="bottom" title="Ajustar Saldo Conta">
                     <i class="fa fa-money"></i>
            </button>

                </div>
                <div>
                    <div class="row">
                        <div class="form_inc col-md-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form_edit col-md-12"></div>
                    </div>
                </div>
                </div>
                <br>
                <div class="row table table_contas">
                 {% include '_table_conta.html' %}
                </div>
            </div>
        </div>


    </div>
</div>


<div class="modal fade" id="modal-ajsaldo" tabindex="-1" role="dialog" aria-labelledby="modal-slideright" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideright" role="document">
        <div class="modal-content">
            <div class="block block-themed block-transparent mb-0">
                <div class="block-header bg-primary-dark">
                    <h3 class="block-title titulo_modal"></h3><h3 class="block-title info_modal"></h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                            <i class="si si-close"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block javascript %}




$('.form_inc').hide();
$('.form_edit').hide();


function loading_viewers(){
      $('.table_contas').load('{{ request.path }}');
}


table = $('#tabela_contas').DataTable({
    "language": {
     "lengthMenu": "Mostrando _MENU_ registros por página",
     "search" : "Procurar: ",
     "info" : "Exibindo de _START_ a _END_ de _TOTAL_ registros",
     "infoEmpty": "Nenhum registro encontrado",
     "infoFiltered": "(filtrado entre _MAX_ registros)",
     "paginate" : {
       "first":      "Primeiro",
       "last":       "Último",
       "next":       "Próximo",
       "previous":   "Anterior"
     },
     responsive: {
            details: {
                type: 'column'
            }
        },
        columnDefs: [ {
            className: 'control',
            orderable: false,
            targets:   0
        } ],
        order: [ 1, 'asc' ]
 }
});






<!-- Create Company -->

$(".new_conta").on("click",function(e){
     e.preventDefault();
     $(".form_inc").load("{% url 'create_conta' %}", function(){
        $('.form_inc').show("puff");
        $('.btn_opcoes').hide("drop");
        $('.table_contas').hide("drop");
        $('.vlr_limite').hide();
        $('.conta_bancaria').hide();

        {% include 'js_floating_labels.html' %}
        {% include 'js_tabs.html' %}
        {% include 'js_masks.html' %}



         $(".form_inc").on("change", "#id_usa_limite", function(e){
			if ($(this).is(":checked")){
				$(".vlr_limite").show();
			}
			else {
				$(".vlr_limite").hide();
			}
		 });

          $(".form_inc").on("change", "#id_conta_bancaria", function(e){
			if ($(this).is(":checked")){
				$(".conta_bancaria").show();
			}
			else {
				$(".conta_bancaria").hide();
			}
		});



          $(".form_inc .cancel_form").on("click",function(e){
             $('.form_inc').hide("drop");
             $('.btn_opcoes').show();
             $('.table_contas').show();
          });



    });
});

    $(".form_inc").on("submit","form",function(e){
	 	 e.preventDefault();
	 	 var dados = $(this).serialize();
	 	 $.post("{% url 'create_conta' %}",dados,function(result){
	 	    $(".form_inc").html(result);
	 	    if(close_modal==true){
	 	       $('.form_inc').hide("drop");
               $('.btn_opcoes').show();
               $('.table_contas').show();
               window.location.reload();

     	    }
 	        else{
                $(".form_inc").show();
                {% include 'js_floating_labels.html' %}
                {% include 'js_tabs.html' %}

                   $(".form_inc .cancel_form").on("click",function(e){
                        $('.form_inc').hide("drop");
                        $('.btn_opcoes').show();
                        $('.table_contas').show();
                   });


 	        }
	 	 });
	});


$('.table_contas').on('click', '.edit_conta',function(e){
    e.preventDefault();
    $(".form_edit ").load($(this).attr('href'), function(){
              $('.form_edit').show("slide");
               $('.btn_opcoes').hide("drop");
               $('.table_contas').hide("puff");
              {% include 'js_floating_labels.html' %}
              {% include 'js_masks.html' %}


              if($("#id_usa_limite").is(":checked")){
                    $(".vlr_limite").show();
               }else{
                    $('.vlr_limite').hide();
               }
               if($("#id_conta_bancaria").is(":checked")){
                    $(".conta_bancaria").show();
               }else{
                    $('.conta_bancaria').hide();
               }


              $(".form_edit").on("change", "#id_usa_limite", function(e){
                if ($(this).is(":checked")){
                    $(".vlr_limite").show();
                }
                else {
                    $(".vlr_limite").hide();
                }
              });

          $(".form_edit").on("change", "#id_conta_bancaria", function(e){
                if ($(this).is(":checked")){
                    $(".conta_bancaria").show();
                }
                else {
                    $(".conta_bancaria").hide();
                }
     	  });



              $(".form_edit .cancel_form").on("click",function(e){
                  $('.form_edit').hide("drop");
                  $('.btn_opcoes').show();
                  $('.table_contas').show();
              });
    });


});



$(".form_edit").on("submit","form",function(e){
	 	 e.preventDefault();

	 	 var dados = $(this).serialize();
	 	 $.post($(this).attr('action'),dados,function(result){
	 	    $(".form_edit").html(result);
	 	    if(close_modal==true){
	 	       $('.form_edit').hide("drop");
                 window.location.reload();

	 	    }
	 	    else{
	 	       $('.form_edit').show("puff");
                {% include 'js_floating_labels.html' %}


                $(".form_inc .cancel_form").on("click",function(e){
                    $('.form_edit').hide("drop");
                    $('.btn_opcoes').show();
                    $('.table_contas').show();
	 	        });
            }
	 	 });
	 });



    $(".delete_conta").on("click", function(e){

    e.preventDefault();
    var linkURL = $(this).attr("href");
    swal({
        title: "Tem certeza?",
        text: "Ao aceitar esta empresa será excluida!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Sim, Excluir!",
        cancelButtonText: "Não, Cancelar!",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function(isConfirm){
        if (isConfirm) {

            swal("Excluido!", "Registro excluido com sucesso!", "success");
            window.location.href = linkURL;
        }
        else {

            swal("Cancelado", "Exclusão cancelada", "error");
        }
	});

});

{% include 'js_ajuste_saldo.html' %}


{% endblock %}



