{% extends "menu.html" %}
{% load static widget_tweaks humanize %}



<!-- Bread crumb and right sidebar toggle -->
{% block title %} Indices / Cotações {% endblock %}

{% block page_body %}

<div class="block">
    <div class="block-content">
        <div class="row  btn-insert">
        <button type="button" class="btn btn-outline-primary mr-5 mb-5  new_indice">
                 <i class="fa fa-plus mr-5"></i> Novo Indice
        </button>
        </div>
        <div>
            <div class="row">
                <div class="form_inc col-md-12">
                    <div class="col-md-6 form_inc_indice">

                    </div>
                    <div class="col-md-6 fom_inc_cotacao">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form_edit col-md-12"></div>
            </div>
        </div>



        </div>
        <div class="row table table_indice">
         {% include '_table_indice.html' %}
        </div>
    </div>
</div>



<div class="modal fade" id="modal-cotacao" tabindex="-1" role="dialog" aria-labelledby="modal-slideright" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideright modal-sm" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title">Inserir Cotação - Indice: </h3><h3 class="block-title info_modal"></h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="si si-close"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>




<div class="modal fade" id="modal-lista-cotacao" tabindex="-1" role="dialog" aria-labelledby="modal-slideright" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideright" role="document">
                <div class="modal-content">
                    <div class="block block-themed block-transparent mb-0">
                        <div class="block-header bg-primary-dark">
                            <h3 class="block-title">Histórico de Cotações</h3><h3 class="block-title info_modal"></h3>
                            <div class="block-options">
                                <button type="button" class="btn-block-option" data-dismiss="modal" aria-label="Close">
                                    <i class="si si-close"></i>
                                </button>
                            </div>
                        </div>
                        <div class="block-content">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-alt-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}


{% block javascript %}



$('.chosen-select').chosen({ width: '100%' });
$('.form_inc').hide();
$('.form_edit').hide();


function loading_indices(){
      $('.table_indice').load('{{ request.path }}');
}


table = $('#tabela_indice').DataTable({
    "language": {
     "lengthMenu": "Mostrando _MENU_ registros por página",
     "search" : "Procurar: ",
     "info" : "Exibindo de _START_ a _END_ de _TOTAL_ registros",
     "infoEmpty": "Nenhum registro encontrado",
     "infoFiltered": "(filtrado entre _MAX_ registros)",
     "paginate" : {
       "first":      "Primeiro",
       "last":       "Último",
       "next":       "Próximo",
       "previous":   "Anterior"
     },
     responsive: {
            details: {
                type: 'column'
            }
        },
        columnDefs: [ {
            className: 'control',
            orderable: false,
            targets:   0
        } ],
        order: [ 1, 'asc' ]
 }
});



$(".lista_cotacoes").on("click",function(e){
   e.preventDefault();
   var indice = '{{ indice.descricao }}';
   $("#modal-lista-cotacao .info_modal").text(indice);
   $("#modal-lista-cotacao .block-content").load($(this).attr('href'), function(){
       $('#modal-lista-cotacao').modal("show");
       $('#tabela_cotacoes').dataTable({
            pageLength: 5,
            autoWidth: false,
            searching: false,
            "language": {
     "lengthMenu": "Mostrando _MENU_ registros por página",
     "search" : "Procurar: ",
     "info" : "Exibindo de _START_ a _END_ de _TOTAL_ registros",
     "infoEmpty": "Nenhum registro encontrado",
     "infoFiltered": "(filtrado entre _MAX_ registros)",
     "paginate" : {
       "first":      "Primeiro",
       "last":       "Último",
       "next":       "Próximo",
       "previous":   "Anterior"
     },
     responsive: {
            details: {
                type: 'column'
            }
        },
        columnDefs: [ {
            className: 'control',
            orderable: false,
            targets:   0
        } ],
        order: [ 1, 'asc' ]},

            dom: "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-6'i><'col-sm-6'p>>"
        });

   });

});







<!-- Create Company -->

$(".new_indice").on("click",function(e){
     e.preventDefault();
     $(".form_inc .form_inc_indice").load("{% url 'create_indice' %}", function(){
        $('.form_inc').show("puff");
        $('.new_indice').hide("drop");
        $('.chosen-select').chosen({ width: '100%' });


        {% include 'js_floating_labels.html' %}
        {% include 'js_tabs.html' %}
        {% include 'js_masks.html' %}
        {% include 'js_tabelas_formularios.html' %}


        $(".new_cotacao").on("click",function(e){
            e.preventDefault();
            var indice = $('#id_descricao').val();
            $("#modal-cotacao .info_modal").text(indice);
            $("#modal-cotacao .block-content").load("{% url 'create_cotacao_create_indice' %}", function(){
            $('#modal-cotacao').modal("show");
            {% include 'js_floating_labels.html' %}
            $(".js-datepicker").datepicker({
		            todayBtn: true,
    	            language: "pt-BR",
		            autoclose: true,
    	            todayHighlight: true
	          });


            });
        });

        $("#modal-cotacao .block-content").on("submit","#form_cotacao_create",function(e){
                 e.preventDefault();
                 var dados = $(this).serialize();
                 $.post("{% url 'create_cotacao_create_indice' %}",dados,function(result){
                    $("#modal-cotacao .block-content").html(result);
                    if(close_form==true){
                       $('#modal-cotacao').modal("hide");
                        $('.tb_body_cotacao_create_form').append("<tr><td><small>"+ data_cotacao +"</small></td><td>"+ valor +"</td><td><button type='button' class='btn btn-sm btn-outline-danger delete_cotacao' data-toggle='tooltip' data-placement='bottom' title='Excluir' href='"+ url+" '><i class='fa fa-trash'></i></button></td></tr>");
                        $('#form_cotacao_create').remove();
                    }
                    else{
                       $('#modal-talhao').modal("show");
                    }
                 });
         });







          $(".form_inc .cancel_form").on("click",function(e){
             $('.form_inc').hide("drop");
             $('.new_indice').show();
             $('#form_cotacao_create').remove();
          });
    });
});

    $(".form_inc").on("submit","form",function(e){
	 	 e.preventDefault();
	 	 var dados = $(this).serialize();
	 	 $.post("{% url 'create_indice' %}",dados,function(result){
	 	    $(".form_inc").html(result);
	 	    if(close_modal==true){
	 	       $('.form_inc').hide("drop");
               $('.new_indice').show();
               window.location.reload();

     	    }
 	        else{
                $(".form_inc").show();
                {% include 'js_floating_labels.html' %}
                {% include 'js_tabs.html' %}
                $('.chosen-select').chosen({ width: '100%' });

                   $(".form_inc .cancel_form").on("click",function(e){
                        $('.form_inc').hide("drop");
                        $('.new_indice').show();
                        $
                   });


 	        }
	 	 });
	});

<!-- Edit Company -->
$('.table_indice').on('click', '.edit_indice',function(e){
    e.preventDefault();
    $(".form_edit ").load($(this).attr('href'), function(){
               $('.form_edit').show("slide");
               $('.new_indice').hide("drop");
               {% include 'js_floating_labels.html' %}
               {% include 'js_masks.html' %}
               {% include 'js_tabs.html' %}
               {% include 'js_tabelas_formularios.html' %}
               $('.chosen-select').chosen({ width: '100%' });


              $(".new_cotacao").on("click",function(e){
                    e.preventDefault();
                    var indice = $('#id_descricao').val();
                    $("#modal-cotacao .info_modal").text(indice);
                    $("#modal-cotacao .block-content").load("{% url 'create_cotacao_edit_indice' %}", function(){
                    $('#modal-cotacao').modal("show");
                    {% include 'js_floating_labels.html' %}
                    $(".js-datepicker").datepicker({
                            todayBtn: true,
                            language: "pt-BR",
                            autoclose: true,
                            todayHighlight: true
                    });
              });
        });

        $("#modal-cotacao .block-content").on("submit","#form_cotacao_create",function(e){
                 e.preventDefault();
                 var dados = $(this).serialize();
                 $.post("{% url 'create_cotacao_edit_indice' %}",dados,function(result){
                    $("#modal-cotacao .block-content").html(result);
                    if(close_form==true){
                       $('#modal-cotacao').modal("hide");
                        $('.tb_body_cotacao_edit_form').append("<tr><td><small>"+ data_cotacao +"</small></td><td>"+ valor +"</td><td><button type='button' class='btn btn-sm btn-outline-danger delete_cotacao' data-toggle='tooltip' data-placement='bottom' title='Excluir' href='"+ url+" '><i class='fa fa-trash'></i></button></td></tr>");
                        $('#form_cotacao_create').remove();
                    }
                    else{
                       $('#modal-talhao').modal("show");
                    }
                 });
         });



              $(".form_edit .cancel_form").on("click",function(e){
                  $('.form_edit').hide("drop");
                  $('.new_indice').show();
                  $('#form_cotacao_create').remove();
              });
    });

});



$(".form_edit").on("submit","form",function(e){
	 	 e.preventDefault();

	 	 var dados = $(this).serialize();
	 	 $.post($(this).attr('action'),dados,function(result){
	 	    $(".form_edit").html(result);
	 	    if(close_modal==true){
	 	       $('.form_edit').hide("drop");
                 window.location.reload();

	 	    }
	 	    else{
	 	       $('.form_edit').show("puff");
                {% include 'js_floating_labels.html' %}
                $('.chosen-select').chosen({ width: '100%' });


                $(".form_inc .cancel_form").on("click",function(e){
                    $('.form_edit').hide("drop");
                    $('.new_indice').show();
                    $('#form_cotacao_create').remove();
	 	        });
            }
	 	 });
	 });


    $(".delete_indice").on("click", function(e){

    e.preventDefault();
    var linkURL = $(this).attr("href");
    swal({
        title: "Tem certeza?",
        text: "Ao aceitar esta empresa será excluida!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Sim, Excluir!",
        cancelButtonText: "Não, Cancelar!",
        closeOnConfirm: false,
        closeOnCancel: false
    },
    function(isConfirm){
        if (isConfirm) {

            swal("Excluido!", "Registro excluido com sucesso!", "success");
            window.location.href = linkURL;
        }
        else {

            swal("Cancelado", "Exclusão cancelada", "error");
        }
	});

});


{% endblock %}



